@import 'src/styles.scss';

:host {
    flex-grow: 1;
    min-height: 0;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    margin-top: 0px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-300);
    box-shadow: $box-shadow-1;
    border-radius: 0.75rem;
    margin-bottom: 2rem;

    .header {
        border-bottom: 1px solid var(--neutral-300);
        padding: 0 2rem;
    }

    .title {
        padding: 0 2rem;
        margin-bottom: 1rem;
        h6 {
            margin-bottom: 0.5rem;
        }
        padding-bottom: 1rem;
    }

    .body {
        margin: 0 2rem;
        padding: 1rem;
        border: 1px solid var(--neutral-300);
        background-color: #fafbff;
        border-radius: 0.75rem;
        display: flex;
        flex-wrap: wrap;

        .field {
            padding: 1rem 0.5rem;
            min-width: 200px;
            width: 25%;

            span {
                line-height: 2rem;
            }
        }
    }

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2rem;

        ps-button {
            width: 11.25rem;
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin: 1rem;
    }
}
