<div class="container">
    <div class="header">
        <h6 class="text--primary text--bold text-20 margin-y-3">Mensagens</h6>
    </div>
    <div>
        <div class="separator"></div>
    </div>

    <div class="title">
        <div class="flex wide flex-column">
            <h6 class="text-18 text--bold margin-bottom-2">Preencha as mensagens automáticas que serão enviadas nos eventos</h6>
            <span class="text-16"
                >Insira nos campos abaixo as mensagens, você poderá inserir os seguintes parâmetros no corpo das mensagens:
            </span>
        </div>
    </div>

    <div class="body">
        <div class="flex table-content">
            <table>
                <thead>
                    <th><span class="text-16 text--primary text--bold">Nome</span></th>
                    <th><span class="text-16 text--primary text--bold">Descrição</span></th>
                </thead>
                <tbody>
                    <tr class="item" *ngFor="let param of params">
                        <td>
                            <span class="text-16 text--bold">{{ param.name }}</span>
                        </td>
                        <td>
                            <span class="text-16 text--600">{{ param.description }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="fields flex-grow-1">
            <div class="field">
                <p class="text-16">Mensagem de Pós venda</p>
                <div class="flex flex-column">
                    <ps-input
                        placeholder="Insira aqui a mensagem de pós venda para iniciar uma conversa no whatsapp com o cliente."
                        type="text"
                        [(ngModel)]="config.afterSaleMessage"
                        [rows]="6"
                    ></ps-input>
                    <span class="text-12 text--500 desktop padding-top-1">Corpo de mensagem para iniciar um pós venda com o cliente.</span>
                </div>
            </div>
            <div class="field">
                <p class="text-16">Mensagem de aniversário</p>
                <div class="flex flex-column">
                    <ps-input
                        placeholder="Insira aqui a mensagem para iniciar uma conversa com um cliente aniversariante."
                        type="text"
                        [(ngModel)]="config.birthdayMessage"
                        [rows]="6"
                    ></ps-input>
                    <span class="text-12 text--500 desktop padding-top-1">
                        Corpo de mensagem para iniciar uma conversa com um cliente aniversariante.
                    </span>
                </div>
            </div>
            <div class="field">
                <p class="text-16">Mensagem para cliente em risco</p>
                <div class="flex flex-column">
                    <ps-input
                        placeholder="Insira aqui a mensagem para iniciar uma conversa com um cliente que está em risco de ser perdido."
                        type="text"
                        [(ngModel)]="config.cantLoseClientMessage"
                        [rows]="6"
                    ></ps-input>
                    <span class="text-12 text--500 desktop padding-top-1">
                        Corpo de mensagem para iniciar uma conversa com um cliente em risco.
                    </span>
                </div>
            </div>
            <div class="field">
                <p class="text-16">Mensagem para cliente aniversariante do mês</p>
                <div class="flex flex-column">
                    <ps-input
                        placeholder="Insira aqui a mensagem para iniciar uma conversa com um cliente que está fazendo aniversário no mês."
                        type="text"
                        [(ngModel)]="config.birthdayMonthMessage"
                        [rows]="6"
                    ></ps-input>
                    <span class="text-12 text--500 desktop padding-top-1">
                        Corpo de mensagem para iniciar uma conversa com um cliente aniversariante do mês.
                    </span>
                </div>
            </div>
            <div class="field">
                <p class="text-16">Mensagem para avaliação de satisfação (NPS)</p>
                <div class="flex flex-column">
                    <ps-input
                        placeholder="Insira aqui a mensagem de NPS para iniciar uma conversa no whatsapp com o cliente."
                        type="text"
                        [(ngModel)]="config.npsRatingMessage"
                        [rows]="6"
                    ></ps-input>
                    <span class="text-12 text--500 desktop padding-top-1">
                        Corpo da mensagem para enviar um link para a página de avaliação de satisfação.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary">
            <span class="text--100 text-14 text--bold">Salvar</span>
        </ps-button>
    </div>
</div>
