<main class="flex flex-center flex-column padding-3">
    <img class="margin-bottom-3" src="./assets/svg/logo.svg" alt="" />
    <img class="margin-bottom-2 margin-top-3" src="./assets/svg/blacklist.svg" alt="" />
    <div class="flex flex-center">
        <img (click)="goTo('whatsapp')" class="clickable" src="./assets/svg/wpp.svg" alt="" />
        <img (click)="goTo('linkedin')" class="clickable" src="./assets/svg/linkedin.svg" alt="" />
        <img (click)="goTo('instagram')" class="clickable" src="./assets/svg/instagram.svg" alt="" />
    </div>
</main>
