<div class="container">
    <div class="title margin-y-3">
        <h6 class="text--bold text-18 margin-bottom-2">Usuários</h6>
        <span class="text-16">Edição e adição de usuários.</span>
    </div>

    <div class="body">
        <table>
            <thead>
                <th class="desktop"><span class="text-14 text--primary desktop">Nome</span></th>
                <th><span class="text-14 text--primary">E-mail</span></th>
                <th class="desktop"><span class="text-14 text--primary desktop">Telefone</span></th>
                <th class="desktop"><span class="text-14 text--primary desktop">Data de nascimento</span></th>
                <th class="desktop"><span class="text-14 text--primary desktop">Cargo</span></th>
                <th><span class="text-14 text--primary"></span></th>
            </thead>
            <tbody>
                <tr class="item" *ngFor="let user of users">
                    <td class="desktop">
                        <span [ngClass]="{ 'text--400': !user.name }" class="text-14 text--600 desktop">{{ user.name || 'vazio' }}</span>
                    </td>
                    <td class="mobile-email">
                        <span [ngClass]="{ 'text--400': !user.email }" class="text-14 text--600">{{ user.email || 'vazio' }}</span>
                    </td>
                    <td class="desktop">
                        <span [ngClass]="{ 'text--400': !user.phone }" class="text-14 text--600 desktop">{{
                            (user.phone | zoppyPhone) || 'vazio'
                        }}</span>
                    </td>
                    <td class="desktop">
                        <span [ngClass]="{ 'text--400': !user.birthDate }" class="text-14 text--600 desktop">{{
                            (user.birthDate | date : 'dd/MM/yyyy') || 'vazio'
                        }}</span>
                    </td>
                    <td class="desktop">
                        <ps-dropdown
                            class="wide"
                            [wide]="true"
                            [propertyValue]="'value'"
                            [(value)]="user.role"
                            [propertyLabel]="'label'"
                            [items]="roles"
                            [displayTop]="false"
                            [enableSearch]="false"
                            (valueChange)="updateUserRole(user)"
                            noDataText="Selecionar"
                        ></ps-dropdown>
                    </td>
                    <td>
                        <div class="actions">
                            <ps-icon
                                (click)="navigate(user)"
                                [attr.href]="getEditHref(user)"
                                class="font-18 primary clickable"
                                icon="icon-edit_square"
                            ></ps-icon>
                            <ps-icon (click)="destroy(user)" class="primary font-18 clickable" icon="icon-delete"></ps-icon>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer">
        <ps-button (onClick)="createUser()" [wide]="true" type="secondary">
            <span class="text--100 text--bold text-14">Criar novo usuário</span>
        </ps-button>
    </div>
</div>
