<div class="container" *ngIf="loaded">
    <a class="flex go-back margin-left-2 padding-left-1 padding-top-2" [href]="getHref()">
        <ps-icon class="font-16" icon="icon-chevron text--primary"></ps-icon> &nbsp;
        <span class="text-16 text--bold text--primary">Voltar</span>
    </a>

    <div class="header space-between align-center">
        <div class="flex flex-column margin-y-3">
            <h6 class="text">{{ group ? 'Editar Mensagem: ' + group.name : 'Nova Mensagem' }}</h6>
            <span class="text">Altere a mensagem que será enviada para seus clientes</span>
        </div>
        <ps-button type="secondary" *ngIf="!wppAccount" (onClick)="addNewMessage()">
            <span class="text neutral-100 margin-x-2">Nova Mensagem</span>
        </ps-button>
    </div>

    <div class="body">
        <div style="border-radius: 8px" class="fields flex-grow-1">
            <div class="flex space-between" *ngIf="!group?.id">
                <div class="field flex-grow flex flex-column">
                    <p class="text-16 text--bold">Nome*</p>
                    <ps-input [(ngModel)]="name"></ps-input>
                </div>

                <div class="field flex-grow flex flex-column padding-left-3">
                    <p class="text-16 text--bold">Description*</p>
                    <ps-input [(ngModel)]="description"></ps-input>
                </div>
            </div>
            <div class="field" *ngFor="let template of templates; let index = index">
                <div class="wide flex space-between margin-bottom-1">
                    <p class="text-16 text--bold">{{ index + 1 }}ª Mensagem</p>
                    <ps-button type="clean" (onClick)="deleteTemplate(template, index)">
                        <div class="flex flex-center">
                            <ps-icon icon="icon-delete" class="text-18 padding-x-1"></ps-icon>
                        </div>
                    </ps-button>
                </div>
                <div class="flex flex-column">
                    <ps-input placeholder="Insira aqui o conteúdo." type="text" [(ngModel)]="template.text" [rows]="6"></ps-input>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary">
            <span class="text--100 text-14 text--bold">Salvar</span>
        </ps-button>
    </div>
</div>

<div *ngIf="!loaded" class="container flex flex-center">
    <static-loading [isLoading]="true" class="loading"></static-loading>
</div>
