<main *ngIf="!loading">
    <p class="text text--bold">Integrações</p>
    <span class="text text-12 text--light">
        Possui Loja Virtual em algum desses provedores? Basta configurar rapidamente essa integração para usufruir de todos os processos
        automatizados da Zoppy com a sua Loja!
    </span>

    <div class="flex flex-wrap wide grid-gap-3 margin-top-3 margin-bottom-3">
        <div class="provider flex flex-column" *ngFor="let provider of providers">
            <div class="header flex space-between wide">
                <div class="flex flex-center">
                    <ps-icon class="secondary text-24 margin-right-1" [icon]="provider.icon" alt=""></ps-icon>
                    <span class="text text--bold margin-left-1">{{ provider.name }}</span>
                </div>
                <ps-switch
                    *ngIf="!provider.hideActive"
                    [(active)]="provider.active"
                    (onToggleSwitch)="updateEnabled($event, provider)"
                ></ps-switch>
            </div>
            <div class="padding-x-3 margin-bottom-3 flex-grow">
                <span class="text--600 text-16">{{ provider.description }}</span>
            </div>
            <div class="footer flex wide clickable text-center" (click)="goToForm(provider)">
                <span class="text--primary text--bold">Gerenciar</span>
                <div class="rotate margin-left-1 flex flex-center">
                    <ps-icon icon="icon-chevron" class="text--primary text-24 margin-top-1"></ps-icon>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="loading">
    <div class="flex flex-center flex-grow">
        <static-loading [isLoading]="true" class="loading"></static-loading>
    </div>
</main>

<ps-tooltip></ps-tooltip>
