<div class="background" *ngIf="service.isOpen">
    <div class="modal-content">
        <info *ngIf="service.name === 'info'"></info>
        <chat-contact *ngIf="service.name === 'chat_contact'"></chat-contact>
        <input-info *ngIf="service.name === 'input_info'"></input-info>
        <sales-panel-contact *ngIf="service.name === 'sales_panel_contact'"></sales-panel-contact>
        <new-task *ngIf="service.name === 'new_task'"></new-task>
        <message-config-params *ngIf="service.name === 'message_config_params'"></message-config-params>
        <media-viewer *ngIf="service.name === 'media_viewer_modal'"></media-viewer>
        <upload-image-media-preview-modal *ngIf="service.name === 'upload_image_media_preview_modal'"></upload-image-media-preview-modal>
    </div>
</div>
