:host {
    right: 0;
    position: absolute;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    width: 28.75rem;
    max-height: 100%;
    background-color: #7b3dff;
    z-index: 9;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border: 1px solid fafbff;
    background-color: #fff;
}

.loading-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.contact-photo {
    background-color: #fff;
}

.contact-info-panel {
    width: 100%;
    height: 100%;
    background-color: #fff;

    &__header {
        min-height: 6rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--neutral-300);
        padding: 1rem 2rem;
    }

    &__body {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        padding: 1rem 2rem;
        background-color: #fff;

        .info-box {
            border-radius: 12px;
            padding: 1rem 2rem;
            background-color: #f0f2f5;
            //background-color: rgba(123, 61, 255, 0.1);
            //box-shadow: rgba($color: #cdd6ff, $alpha: 0.4) 0px 2px 4px 0px inset;

            .icon-color {
                color: #54656f;
            }

            ps-icon {
                font-size: 20px;
            }
        }

        // ps-contact {
        //     height: 10rem !important;
        //     width: 10rem !important;
        // }

        // .contact-photo {
        //     width: 100%;
        //     height: fit-content;
        //     background-color: #7b3dff;
        // }
    }
}
