@import 'src/styles.scss';

.key {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 45rem;
        max-height: 90vh;
        max-width: 90vw;
        background-color: var(--neutral-100);
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-radius: 1rem;

        .header {
            border-bottom: 1px solid #dcdfe3;
        }
    }
}
