<div class="key" (click)="close()">
    <div class="container" (mouseenter)="hoverMenu = true" (mouseleave)="hoverMenu = false">
        <div class="header padding-3 flex space-between flex-center">
            <h5 class="primary">{{ form.title }}</h5>
            <ps-button type="clean" [round]="true" class="margin-left-2 padding-x-1" (onClick)="close(true)">
                <ps-icon class="padding-x-1" icon="icon-times"></ps-icon>
            </ps-button>
        </div>

        <div class="subtitle padding-x-3 padding-top-2">
            <p class="text text--bold">{{ form.label }}</p>
            <p class="text margin-top-2">{{ form.description }}</p>
        </div>

        <div class="padding-3 flex flex-center flex-column">
            <img class="margin-y-3" src="./assets/svg/high_five.svg" alt="" />
            <div class="flex flex-center wide margin-top-3 wide">
                <ps-button type="secondary" class="wide" (click)="openSupport()" [wide]="true"
                    ><span class="neutral-100">Vamos lá?</span></ps-button
                >
            </div>
        </div>
    </div>
</div>
