@import 'src/styles.scss';

:host {
    display: flex;
    min-height: 0;
    flex-grow: 1;
}

.configurations {
    display: flex;
    min-height: 0;
    flex-grow: 1;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid #c9d0d9;
    margin: 2rem;
    background-color: var(--neutral-100);

    .submenu {
        padding: 2rem;
        padding-bottom: 0;
        width: 100%;

        .items {
            display: flex;
            grid-gap: 2rem;
            .item {
                padding: 0rem;
                padding-bottom: 0.5rem;
            }
            .selected {
                border-bottom: 0.25rem solid var(--primary);
            }
        }
    }
}
