<div class="configurations">
    <div class="submenu">
        <h6 class="text--primary text--bold text-20 margin-bottom-3">Configurações</h6>
        <div class="items">
            <div
                [routerLink]="item.route"
                *ngFor="let item of menuItems"
                [ngClass]="{ hidden: !item.visible, selected: sideMenuService.subSelected === item.id }"
                class="item padding-bottom-1"
            >
                <a class="text-decoration-none" [attr.href]="item.route">
                    <span
                        class="text-16"
                        [ngClass]="{
                            'text--primary text--bold': sideMenuService.subSelected === item.id,
                            'text--500': sideMenuService.subSelected !== item.id
                        }"
                        >{{ item.label }}</span
                    >
                </a>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
