<div class="configurations">
    <div class="submenu desktop">
        <div class="header padding-x-3">
            <h6 class="text--primary text--bold text-20 margin-y-3">Configurar Integrações</h6>
        </div>

        <div class="separator"></div>

        <div class="content">
            <ul class="items">
                <li *ngFor="let item of menuItems" [ngClass]="{ hidden: !item.visible }">
                    <a class="text-decoration-none padding-2" [attr.href]="item.route">
                        <span
                            class="text-16"
                            [ngClass]="{
                                'text--secondary': sideMenuService.subSelected === item.id,
                                'text--500': sideMenuService.subSelected !== item.id
                            }"
                            >{{ item.label }}</span
                        >
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
