.chart-container {
    width: 100%;
    height: 100%;
    display: flex;

    img {
        height: 48px;
    }

    canvas {
        width: 300px !important;
        height: 100% !important;
        margin-right: 2rem;
    }
}
