@import 'src/styles.scss';
@import '../../../../../../zoppy-styles.scss';

.chart-container {
    width: 100%;
    height: 100%;
    display: flex;

    img {
        height: 48px;
    }

    .flex-between {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        .legends {
            min-width: 150px;
            .item {
                padding: 0.3rem;
                display: flex;
                align-items: center;

                .point {
                    height: 0.75rem;
                    width: 0.75rem;
                    border-radius: 100%;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
        flex-grow: 1;
        min-width: 0;
    }
}

.flex-end {
    justify-content: flex-end;
}

@media only screen and (max-width: 576px) {
    .chart-container {
        .flex-between {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .legends {
                display: flex;
            }

            canvas {
                width: 100%;
                max-width: 100% !important;
                height: 100% !important;
                max-height: 380px !important;
            }
        }
    }
}
