<p>change-password works!</p>
<div class="change-password">
    <div class="change-password__content">
        <div class="logo-content">
            <img class="logo" src="./assets/imgs/logo.png" alt="" />
        </div>
        <form (keydown.enter)="changePassword()" class="form" id="changePasswordForm">
            <h4 class="text--primary">Criar nova senha</h4>
            <span class="text text--800 margin-bottom-3 margin-top-2 text-center-mobile"
                >Preencha os campos abaixo para redefinir a sua senha.</span
            >

            <div class="field" *ngFor="let field of fields">
                <span class="text text--bold text--800" [ngClass]="{ 'text--negative': field.errors.length > 0 }">Nova senha</span>
                <ps-input
                    [placeholder]="field.placeholder"
                    [(ngModel)]="field.model"
                    [icon]="field.icon"
                    [errors]="field.errors"
                    (onFocus)="field.errors = []"
                    [type]="field.type"
                ></ps-input>
            </div>
            <div class="button-content">
                <ps-button (onClick)="changePassword()" [loading]="loading" [wide]="true" type="secondary"
                    ><span class="text text--100">Redefinir senha</span></ps-button
                >
            </div>

            <div class="new-customer">
                <p class="text-800 desktop">
                    Já é um cliente Zoppy?&nbsp;<a [routerLink]="'/login'" class="text--link text--primary text--bold">Acesse sua conta</a>
                </p>
                <p class="text-800 mobile text-center-mobile margin-top-3">
                    Já é um cliente Zoppy?<br /><a [routerLink]="'/login'" class="text--link text--primary text--bold text-center-mobile"
                        >Acesse sua conta</a
                    >
                </p>
            </div>
        </form>
    </div>
    <app-carrossel></app-carrossel>
</div>
