<p>change-password works!</p>
<div class="reset-password">
    <div class="reset-password__content">
        <div class="logo-content">
            <img class="logo" src="./assets/imgs/logo.png" alt="" />
        </div>
        <form (keydown.enter)="changePassword()" class="form" id="changePasswordForm">
            <h4 class="text--primary">Criar nova senha</h4>
            <span class="text text--800 margin-bottom-3">Preencha os campos abaixo para redefinir a sua senha.</span>

            <div class="field">
                <span class="text text--bold text--800" [ngClass]="{ 'text--negative': passwordField.errors.length > 0 }">Nova senha</span>
                <ps-input
                    [placeholder]="passwordField.placeholder"
                    [(ngModel)]="passwordField.model"
                    [icon]="passwordField.icon"
                    [errors]="passwordField.errors"
                    (onFocus)="passwordField.errors = []"
                    type="password"
                ></ps-input>
            </div>

            <div class="field">
                <span class="text text--bold text--800" [ngClass]="{ 'text--negative': passwordConfirmationField.errors.length > 0 }"
                    >Confirme sua nova senha</span
                >
                <ps-input
                    [placeholder]="passwordConfirmationField.placeholder"
                    [(ngModel)]="passwordConfirmationField.model"
                    [icon]="passwordConfirmationField.icon"
                    [errors]="passwordConfirmationField.errors"
                    (onFocus)="passwordConfirmationField.errors = []"
                    type="password"
                ></ps-input>
            </div>

            <div class="button-content">
                <ps-button (onClick)="changePassword()" [loading]="loading" [wide]="true" type="secondary"
                    ><span class="text text--100">Redefinir senha</span></ps-button
                >
            </div>

            <div class="new-customer">
                <p class="text-800">
                    Já é um cliente Zoppy?&nbsp;<a [routerLink]="'/login'" class="text--link text--primary text--bold">Acesse sua conta</a>
                </p>
            </div>
        </form>
    </div>
    <app-carrossel></app-carrossel>
</div>
