@import 'src/styles.scss';
:host {
    display: flex;
    flex-grow: 1;
    min-height: 0;
    height: 100%;
}

main {
    display: flex;
    flex-grow: 1;
    min-height: 0;
    flex-wrap: wrap;
    overflow-x: hidden;

    .content-box {
        margin: 1rem;
        padding: 2rem;
        border: 1px solid var(--neutral-300);
        border-radius: 12px;
        background-color: #fdfdfd;
        box-shadow: 0px 16px 24px #edeff2;
        display: flex;
        flex-direction: column;
        height: calc(100% - 2rem);

        .table {
            height: 600px;
            overflow: auto;
            overflow-x: hidden;
            max-height: 80vh;
        }
    }

    .matrix {
        border: 1px solid var(--primary-500);
        border-radius: 12px;
        background-color: #fdfdfd;
        box-shadow: 0px 16px 24px #edeff2;
        display: grid;
        width: 600px;
        max-width: calc(100vw - 2rem);
        height: 450px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin: 1rem;

        .box {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            position: relative;

            span {
                text-align: end;
            }

            .overlay {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.05);
                }
            }
        }

        .cant-lose {
            grid-column: 1/3;
            grid-row: 1;
            background-color: #e5d8ff;
        }

        .at-risk {
            grid-column: 1/3;
            grid-row: 2/4;
            background-color: #9661ff;
        }

        .loyal {
            grid-column: 3/5;
            grid-row: 1/3;
            background-color: #ad88f6;
        }

        .champion {
            grid-column: 5/6;
            grid-row: 1/3;
            background-color: #8e65e4;
        }

        .need-attention {
            grid-column: 3/4;
            grid-row: 3;
            background-color: #8e65e4;
        }

        .possible-loyal {
            grid-column: 4/6;
            grid-row: 3/5;
            background-color: #d5c1fe;
        }

        .new {
            grid-column: 5/6;
            grid-row: 5/6;
            background-color: #e3d6fd;
        }

        .promising {
            grid-column: 4/5;
            grid-row: 5/6;
            background-color: #ad88f6;
        }

        .almost-sleeping {
            grid-column: 3/4;
            grid-row: 4/6;
            background-color: #e3d6fd;
        }

        .sleeping {
            grid-column: 1/3;
            grid-row: 4/6;
            background-color: #d5c1fe;
        }

        .box {
            border: 1px solid var(--primary-500);
        }

        .radius-top-left {
            border-top-left-radius: 12px;
        }

        .radius-top-right {
            border-top-right-radius: 12px;
        }

        .radius-bottom-left {
            border-bottom-left-radius: 12px;
        }

        .radius-bottom-right {
            border-bottom-right-radius: 12px;
        }
    }
}

@media only screen and (max-width: 576px) {
    main {
        .matrix {
            span {
                font-size: 12px;
            }
        }
    }
}
