<div class="container" *ngIf="loaded">
    <div class="title margin-top-3 wide">
        <a class="flex go-back margin-bottom-3" href="/dashboard/account/my-company/users">
            <ps-icon class="font-16" icon="icon-chevron text--primary"></ps-icon> &nbsp;
            <span class="text-16 text--bold text--primary">Voltar</span>
        </a>
        <div class="left">
            <h6 class="text-18 text--bold">Usuários</h6>
            <span *ngIf="id" class="text-16">Atualize as informações desse usuário.</span>
            <span *ngIf="!id" class="text-16">Insira as informações do usuário.</span>
        </div>
    </div>

    <div class="body">
        <div class="field" *ngFor="let field of fields" [ngClass]="{ hidden: !field.visible }">
            <span class="text-14 text--bold"> {{ field.title }}</span>
            <ps-input
                *ngIf="field.inputType === 'input'"
                [errors]="field.errors"
                (onFocus)="field.errors = []"
                [mask]="field.mask ?? ''"
                [ngClass]="{ 'text--negative': field.errors.length > 0 }"
                [type]="field.type"
                (ngModelChange)="field.onChange()"
                [type]="field.type"
                [placeholder]="field.placeholder"
                [(ngModel)]="field.model"
                [icon]="field.icon || ''"
                [mask]="field.mask || ''"
                (onIconClicked)="iconClicked(field)"
            ></ps-input>

            <ps-datepicker
                [(model)]="field.model"
                type="input"
                [placeholder]="field.placeholder"
                [hasFooter]="false"
                *ngIf="field.inputType === 'datepicker'"
            ></ps-datepicker>
        </div>
    </div>
    <div class="footer">
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary" [disabled]="getSaveDisabled()">
            <span class="text--100 text--bold text-14">Salvar</span>
        </ps-button>
    </div>
</div>
