<div class="container" *ngIf="loaded">
    <div class="title margin-top-3 wide">
        <a class="flex go-back margin-bottom-3" href="/dashboard/my-company/users">
            <ps-icon class="font-16" icon="icon-chevron text--primary"></ps-icon> &nbsp;
            <span class="text-16 text--bold text--primary">Voltar</span>
        </a>
        <div class="left">
            <h6 class="text-18 text--bold">Usuários</h6>
            <span *ngIf="id" class="text-16">Atualize as informações desse usuário.</span>
            <span *ngIf="!id" class="text-16">Insira as informações do usuário.</span>
        </div>
    </div>

    <div class="body">
        <div class="field">
            <span class="text-14 text--bold"> Nome*</span>
            <ps-input type="text" placeholder="Digite o nome" [(ngModel)]="user.name"></ps-input>
        </div>
        <div class="field">
            <span class="text-14 text--bold"> Telefone* </span>
            <ps-input mask="(00) 00000-0000" type="text" placeholder="Digite o telefone" [(ngModel)]="user.phone"></ps-input>
        </div>
        <div class="field">
            <span class="text-14 text--bold"> Email* </span>
            <ps-input type="email" placeholder="Digite o email" [(ngModel)]="user.email"></ps-input>
        </div>
        <div class="field">
            <span class="text-14 text--bold"> Apelido </span>
            <ps-input type="text" placeholder="Digite o apelido" [(ngModel)]="user.nickName"></ps-input>
        </div>
        <div class="field">
            <span class="text-14 text--bold"> Data de nascimento </span>
            <ps-datepicker placeholder="DD/MM/YYYY" [(model)]="user.birthDate" [hasFooter]="false" type="input"></ps-datepicker>
        </div>
        <div class="field" *ngIf="!id">
            <span class="text-14 text--bold"> Senha* </span>
            <ps-input type="password" placeholder="Digite a senha do usuário" [(ngModel)]="user.password"></ps-input>
        </div>
        <div class="field" *ngIf="!id">
            <span class="text-14 text--bold"> Confirmar Senha* </span>
            <ps-input type="password" placeholder="Confirme a senha do usuário" [(ngModel)]="confirmPassword"></ps-input>
        </div>
    </div>
    <div class="footer">
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary" [disabled]="getSaveDisabled()">
            <span class="text--100 text--bold text-14">Salvar</span>
        </ps-button>
    </div>
</div>
