@import '../../../../../../styles.scss';

:host {
    flex-grow: 1;
    min-height: 0;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafbff;

    .header {
        min-height: 6rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--neutral-300);
        padding: 1rem 2rem;
        background-color: #ffffff;

        .contact-info {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .truncate {
                max-width: 384px;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            h6 {
                font-size: 0.75rem;
                font-weight: 400;
                color: #363636;
            }

            .block-icon {
                font-size: 1.25rem;
                color: var(--primary-300);
            }

            .edit-icon {
                font-size: 1.25rem;
                color: var(--neutral-500);
            }
        }

        .more-options {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            ps-button {
                width: 10rem;

                ps-icon {
                    font-size: 16px;
                }
            }
        }
    }

    .chat-content {
        position: relative;
        flex-wrap: nowrap;
        flex-grow: 1;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-height: 100%;
        padding-bottom: 2rem;
        overflow-x: hidden;
        overflow-y: auto;

        .bubble-info {
            height: fit-content;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: sticky;
            top: 1rem;
            align-self: flex-start;
            z-index: 1;
        }
    }

    .footer {
        position: relative;
        min-height: 88px;
        max-height: 88px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 18px 1rem;
        background-color: #f0f2f5;

        .see-last-message-button {
            width: 48px;
            height: 48px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            position: absolute;
            bottom: 100px;
            right: 2.5rem;
            border-radius: 50%;
            border: 1px solid var(--neutral-300);
            cursor: pointer;
            background-color: #fafbff;
            box-shadow: 0 1px 1px 0 rgba(#363636, 0.06), 0 0.125rem 5px 0 rgba(#363636, 0.2);
            z-index: 2;

            ps-icon {
                display: flex;
                flex-direction: column-reverse;
                font-size: 2rem;
                font-weight: 700;
                rotate: -90deg;
            }
        }

        .message-template-list {
            position: absolute;
            bottom: 112px;
            display: block;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: -webkit-fill-available;
            flex-wrap: nowrap;
            height: fit-content;
            background-color: rgba(#fdfdfd, 1);
            box-shadow: 0px 16px 24px rgba(82, 75, 91, 0.1);
            border-radius: 12px;
            max-height: 256px;
            overflow-y: auto;
            margin-right: 1rem;
            z-index: 3;

            .item {
                cursor: pointer;
                width: 100%;
                padding: 1.5rem;
                border-bottom: 1px solid var(--neutral-300);

                &:hover {
                    background-color: rgba($color: #cdd6ff, $alpha: 0.3);
                }
            }
        }

        .attachment-options-list {
            position: absolute;
            left: 3rem;
            bottom: 90px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: 7rem;
            flex-wrap: nowrap;
            height: 100vh;
            border-radius: 1rem;
            max-height: 256px;
            overflow-y: auto;
            z-index: 3;

            ps-icon {
                font-size: 2rem;
            }

            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3.5rem;
                height: 3.5rem;
                padding: 0.5rem;
                margin-bottom: 1.25rem;
                border-radius: 100%;

                &--document-circle {
                    background: rgb(0, 125, 186);
                    background: linear-gradient(180deg, rgba(0, 125, 186, 1) 50%, rgba(0, 146, 208, 1) 54%);
                    color: var(--neutral-100);
                }

                &--image-circle {
                    background: rgb(0, 135, 116);
                    background: linear-gradient(180deg, rgba(0, 135, 116, 1) 50%, rgba(0, 157, 136, 1) 54%);
                    color: var(--neutral-100);
                }
            }
        }

        .templates-button {
            padding: 0.5rem;
            border-radius: 0.75rem;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            min-width: 3.5rem;
            min-height: 3.5rem;
            max-height: 3.5rem;
            max-width: 3.5rem;
            display: flex;
            margin-right: 0.25rem;
            border-radius: 100%;
            position: relative;
            border: 1px solid transparent;

            .hashtag {
                color: #54656f;
            }

            &--highlight {
                box-shadow: 0 0 0 0 #7b3dff;
                background-color: rgba(123, 61, 255, 0.1) !important;
                animation: pulse 2s infinite;
                transform: scale(1);

                .hashtag {
                    color: var(--secondary);
                    font-weight: 900;
                }
            }

            &--active {
                border: 1px solid transparent;
                color: #54656f;

                .hashtag {
                    color: #54656f;
                }
            }

            span {
                font-size: 2rem;
                font-weight: 500;
                font-size: 2rem;
                color: #54656f;
            }
        }

        .attach-file-button {
            padding: 1rem;
            border-radius: 0.75rem;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-width: 3.5rem;
            min-height: 3.5rem;
            max-height: 3.5rem;
            max-width: 3.5rem;
            display: flex;
            height: -moz-fit-content;
            margin-right: 0.35rem;
            color: #54656f;
            border-radius: 100%;
            position: relative;

            ps-icon {
                font-size: 2rem;
                color: #54656f;
            }

            &.active-color {
                color: #54656f;
            }
        }

        .send-button {
            padding: 1rem;
            border-radius: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            min-width: 3.5rem;
            min-height: 3.5rem;
            max-height: 3.5rem;
            max-width: 3.5rem;
            display: flex;
            height: -moz-fit-content;
            margin-right: 0.75rem;
            border-radius: 100%;
            position: relative;
            margin-left: 0.75rem;

            ps-icon {
                font-size: 2rem;
                display: flex;
                color: #54656f;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &.has-message {
                    color: #7b3dff;
                }
            }
        }
    }
}

@media only screen and (min-width: 1680px) {
    .container {
        .header {
            .truncate {
                max-width: 768px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        margin: 0rem;
        width: 100%;
        min-width: 0px;

        .header {
            .truncate {
                max-width: 256px;
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(#7b3dff, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(#7b3dff, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(#7b3dff, 0);
    }
}
