<div class="container">
    <div class="header">
        <div class="contact-info">
            <div class="flex-row margin-y-2 mobile clickable" (click)="goBackToChatList.emit()">
                <ps-icon icon="font-16 icon-chevron go-back-icon" class="text--secondary text-18"></ps-icon>
                <span class="text--500 text-18 margin-x-1">Voltar</span>
            </div>
            <div class="flex-row align-center display-name">
                <span (click)="rightPanelVisible = !rightPanelVisible" class="text--800 text--bold text-20 truncate">{{
                    room.contact.displayName
                }}</span>
                <ps-icon *ngIf="room.contact.isBlocked" class="font-14 block-icon margin-x-1" icon="icon-block"></ps-icon>
                <ps-icon (click)="editContactModal()" class="font-14 edit-icon margin-x-2 clickable" icon="icon-edit_square"></ps-icon>
            </div>
            <h6 class="text--800">{{ room.contact.displayPhone }}</h6>
        </div>
        <countdown-timer *ngIf="countdownTimerVisible" [timestamp]="latestConversation.sessionExpiration"></countdown-timer>
        <div class="more-options">
            <div class="flex-row align-center">
                <ps-button
                    class="margin-right-2"
                    (onClick)="transferConversation()"
                    [loading]="false"
                    [wide]="true"
                    type="secondary-border"
                >
                    <ps-icon icon="text-18 icon-swap_horiz go-back-icon margin-right-2" class="text--secondary text-18"></ps-icon>
                    <span class="text--secondary text-12 text--bold">Transferir</span>
                </ps-button>
                <ps-button (onClick)="finishConversation()" [loading]="finishConversationLoading" [wide]="true" type="secondary">
                    <ps-icon icon="text-18 icon-check go-back-icon margin-right-2" class="text--100 text-18"></ps-icon>
                    <span class="text--100 text-12 text--bold">Finalizar</span>
                </ps-button>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="messagesLoading"></div> -->
    <contact-info-panel *ngIf="rightPanelVisible" [contact]="room.contact" [(close)]="rightPanelVisible"> </contact-info-panel>
    <div *ngIf="!messagesLoading" id="panel-scrollable" class="chat-content">
        <bubble-info class="bubble-info" *ngIf="!this.latestConversation.sessionExpiration"></bubble-info>
        <div *ngFor="let thread of this.room.threads">
            <splitter-date [date]="thread.createdAt" [visible]="thread.isFirstMessageOfDay"></splitter-date>
            <thread-message
                [ngSwitch]="thread.type"
                class="flex-row wide margin-bottom-1"
                [ngStyle]="{ 'justify-content': !thread.isBusiness ? 'flex-start' : 'flex-end' }"
                [thread]="thread"
            >
                <audio-message *ngSwitchCase="'audio'" thread-message-content [media]="thread.media"></audio-message>
                <image-message *ngSwitchCase="'image'" thread-message-content [media]="thread.media"></image-message>
                <text-message *ngSwitchCase="'text'" thread-message-content [text]="thread.content"></text-message>
                <text-message *ngSwitchCase="'template'" thread-message-content [text]="thread.content"></text-message>
                <document-message
                    *ngSwitchCase="'document'"
                    thread-message-content
                    [media]="thread.media"
                    [isBusinessUser]="thread.isBusiness"
                ></document-message>
                <text-message *ngSwitchDefault thread-message-content [text]="UNSUPPORTED_MESSAGE_TYPE"></text-message>
            </thread-message>
        </div>
    </div>

    <div class="footer">
        <div *ngIf="!isLastMessage" class="see-last-message-button clickable" (click)="seeLastMessage()">
            <ps-icon class="font-16 arrow-icon" icon="icon-chevron text--primary"></ps-icon>
        </div>
        <div class="flex-row">
            <div
                *ngIf="footerOptions.get('messageTemplateOption')"
                (click)="selectFooterOptions('messageTemplateOption', !this.footerOptions.get('messageTemplateOption'))"
                class="message-template-list clickable"
            >
                <div *ngIf="messageTemplatesLoading" class="item">
                    <static-loading
                        *ngIf="messageTemplatesLoading"
                        [isLoading]="messageTemplatesLoading"
                        [label]="'Carregando modelos de mensagem'"
                    ></static-loading>
                </div>
                <div *ngIf="!messageTemplatesLoading">
                    <div
                        *ngFor="let messageTemplate of messageTemplatesReplaced"
                        (click)="selectMessageTemplate(messageTemplate)"
                        class="item clickable"
                    >
                        <span class="text-16">{{ messageTemplate.content }}</span>
                    </div>
                    <div *ngIf="messageTemplates.length <= 0" class="item">Nenhum modelo de mensagem disponível!</div>
                </div>
            </div>
            <div
                class="templates-button clickable"
                [ngStyle]="{ 'background-color': footerOptions.get('messageTemplateOption') ? '#d1d7db' : 'transparent' }"
                [ngClass]="{
                    'templates-button--active': footerOptions.get('messageTemplateOption'),
                    'templates-button--highlight': !latestConversation.sessionExpiration
                }"
                (click)="toggleMessageTemplatesVisibility()"
            >
                <span class="font-16 hashtag">#</span>
            </div>
        </div>
        <div class="flex-row">
            <div
                *ngIf="footerOptions.get('attachFileOption')"
                (click)="selectFooterOptions('attachFileOption', !this.footerOptions.get('attachFileOption'))"
                class="attachment-options-list clickable"
            >
                <ps-icon
                    (click)="chooseDocumentFile()"
                    class="item item--document-circle font-28 text--100"
                    icon="icon-draft font-28 text--100"
                >
                </ps-icon>
                <ps-icon
                    (click)="chooseImageFile()"
                    class="item item--image-circle font-28 text--100"
                    icon="icon-image font-28 text--100"
                ></ps-icon>
            </div>
            <div
                (click)="selectFooterOptions('attachFileOption', !this.footerOptions.get('attachFileOption'))"
                class="attach-file-button clickable"
                [ngClass]="{ 'active-color': footerOptions.get('attachFileOption') }"
                [ngStyle]="{ 'background-color': footerOptions.get('attachFileOption') ? '#d1d7db' : 'transparent' }"
            >
                <ps-icon class="font-16" icon="icon-attach_file"></ps-icon>
            </div>
        </div>

        <chat-input
            [(message)]="messageInput"
            [isTemplate]="!!messageTemplateSelected"
            (onCleanInputEvent)="clearMessageInput()"
        ></chat-input>

        <div class="send-button clickable" (click)="sendMessage()">
            <ps-icon [ngClass]="{ 'has-message': messageInput }" icon="font-28 icon-send_fill"></ps-icon>
        </div>
    </div>
</div>

<input class="hidden" (change)="handleFileUpload($event, 'image')" type="file" #inputFileImage />
<input class="hidden" (change)="handleFileUpload($event, 'document')" type="file" #inputFileDocument />
