<div class="container">
    <div class="header">
        <h5 class="text--800 text--bold margin-y-1">{{ chatRoom?.contact?.name }}</h5>
        <h6 class="text--small text--800">{{ chatRoom?.contact?.displayPhone }}</h6>
    </div>

    <div *ngIf="loadingMessages"></div>
    <div *ngIf="!loadingMessages" id="panel-scrollable" class="chat-content">
        <!-- <span class="text"
            >Para iniciar a conversa, é preciso clicar no ícone abaixo de hashtag e selecionar uma mensagem automática para enviar. Após
            enviar a mensagem, você poderá conversar com seu cliente escrevendo o que desejar na barra de mensagens.</span
        > -->
    </div>

    <div class="footer">
        <ps-input type="text" placeholder="Escreva sua mensagem" [(ngModel)]="theadMessage.text"></ps-input>

        <ps-button [loading]="false" [wide]="true" (onClick)="sendMessage()" type="secondary">
            <span class="text--100">Enviar</span>
        </ps-button>
    </div>
</div>
