<div class="container">
    <div class="header">
        <div class="flex-row margin-y-2 mobile clickable" (click)="goBackToChatList.emit()">
            <ps-icon icon="font-16 icon-chevron go-back-icon" class="text--secondary text-18"></ps-icon>
            <span class="text--500 text-18 margin-x-1">Voltar</span>
        </div>
        <div class="flex-row align-center display-name">
            <span class="text--800 text--bold margin-y-1 text-24 truncate">{{ chatRoom.contact.displayName }}</span>
            <ps-icon *ngIf="chatRoom.contact.isBlocked" class="font-16 block-icon margin-x-1" icon="icon-block"></ps-icon>
            <ps-icon (click)="editContactModal()" class="font-16 edit-icon margin-x-2 clickable" icon="icon-edit_square"></ps-icon>
        </div>
        <h6 class="text--800 text-14">{{ chatRoom.contact.displayPhone }}</h6>
    </div>

    <!-- <div *ngIf="messagesLoading"></div> -->
    <div *ngIf="!messagesLoading" id="panel-scrollable" class="chat-content">
        <bubble-info class="flex-center" *ngIf="this.chatRoom.threads.length <= 0"></bubble-info>
        <div *ngFor="let thread of this.chatRoom.threads">
            <splitter-date [date]="thread.createdAt" [visible]="thread.isFirstMessageOfDay"></splitter-date>
            <thread-message
                [ngSwitch]="thread.type"
                class="flex-row wide margin-bottom-1"
                [ngStyle]="{ 'justify-content': !thread.isBusiness ? 'flex-start' : 'flex-end' }"
                [thread]="thread"
            >
                <audio-message *ngSwitchCase="'audio'" thread-message-content [url]="thread.media?.url"></audio-message>
                <image-message *ngSwitchCase="'image'" thread-message-content [url]="thread.media?.url"></image-message>
                <text-message *ngSwitchCase="'text'" thread-message-content [text]="thread.content"></text-message>
                <text-message *ngSwitchCase="'template'" thread-message-content [text]="thread.content"></text-message>
                <document-message *ngSwitchCase="'document'" thread-message-content [url]="thread.media?.url"></document-message>
                <text-message *ngSwitchDefault thread-message-content [text]="UNSUPPORTED_MESSAGE_TYPE"></text-message>
            </thread-message>
        </div>
    </div>

    <div class="footer">
        <div *ngIf="!isLastMessage" class="see-last-message-button clickable" (click)="seeLastMessage()">
            <ps-icon class="font-16 arrow-icon" icon="icon-chevron text--primary"></ps-icon>
        </div>
        <div
            *ngIf="messageTemplateListVisible"
            (mouseover)="messageTemplateListVisible = true"
            (mouseleave)="messageTemplateListVisible = false"
            class="message-template-list"
        >
            <div
                *ngFor="let messageTemplate of messageTemplatesReplaced"
                (click)="selectMessageTemplate(messageTemplate)"
                class="item clickable"
            >
                <span class="text-16">{{ messageTemplate.content }}</span>
            </div>
        </div>
        <div *ngIf="messageTemplates.length > 0" class="templates-button clickable" (click)="toggleMessageTemplatesVisibility()">
            <span class="text--800 text--bold" [ngClass]="{ 'active-color': messageTemplateListVisible }">#</span>
        </div>
        <ps-input
            icon="{{ 'icon-times' }}"
            (onIconClicked)="clearMessageInput()"
            [iconClick]="true"
            type="text"
            [placeholder]="getInputTextPlaceholder()"
            [(ngModel)]="messageInput"
        ></ps-input>
        <ps-button
            [disabled]="!messageInput || chatRoom.contact.isBlocked"
            class="send-button"
            [loading]="false"
            [wide]="true"
            [round]="true"
            (onClick)="sendMessage()"
            type="secondary"
        >
            <ps-icon icon="font-28 icon-send text--100"></ps-icon>
        </ps-button>
    </div>
</div>
