@import 'src/styles.scss';

:host {
    flex-grow: 1;
    min-height: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafbff;

    .header {
        min-height: 112px;
        max-height: 112px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-bottom: 1px solid var(--neutral-300);
        padding: 24px 32px;
        background-color: #ffffff;

        h6 {
            font-size: 16px;
            font-weight: 400;
            color: #363636;
        }
    }

    .chat-content {
        flex-wrap: nowrap;
        flex-grow: 1;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .footer {
        position: relative;
        min-height: 88px;
        max-height: 88px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 18px 16px;
        border: 1px solid var(--neutral-300);
        background-color: #ffffff;

        .see-last-message-button {
            width: 48px;
            height: 48px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            position: absolute;
            bottom: 100px;
            right: 24px;
            border-radius: 50%;
            border: 1px solid var(--neutral-300);
            cursor: pointer;
            background-color: #fafbff;
            box-shadow: 0 1px 1px 0 rgba(#363636, 0.06), 0 2px 5px 0 rgba(#363636, 0.2);

            ps-icon {
                display: flex;
                flex-direction: column-reverse;
                font-size: 32px;
                font-weight: 700;
                rotate: -90deg;
            }
        }

        .show-templates-button {
            width: 64px;
            height: fit-content;
            margin-right: 12px;

            span {
                font-size: 32px;
                font-weight: 700;
                color: var(--neutral-300);
            }
        }

        .send-button {
            margin-left: 2rem;
            width: 116px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin: 1rem;
    }
}
