@import 'src/styles.scss';

:host {
    flex-grow: 1;
    min-height: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafbff;

    .header {
        min-height: 112px;
        max-height: 112px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-bottom: 1px solid var(--neutral-300);
        padding: 2.5rem 2rem;
        background-color: #ffffff;

        .truncate {
            max-width: 384px;
        }

        h6 {
            font-size: 1rem;
            font-weight: 400;
            color: #363636;
        }

        .block-icon {
            font-size: 1.5rem;
            color: var(--primary-300);
        }

        .edit-icon {
            font-size: 1.5rem;
            color: var(--neutral-300);
        }
    }

    .chat-content {
        flex-wrap: nowrap;
        flex-grow: 1;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-height: 100%;
        padding-bottom: 2rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .footer {
        position: relative;
        min-height: 88px;
        max-height: 88px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding: 18px 1rem;
        border: 1px solid var(--neutral-300);
        background-color: #ffffff;

        .see-last-message-button {
            width: 48px;
            height: 48px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            position: absolute;
            bottom: 100px;
            right: 2.5rem;
            border-radius: 50%;
            border: 1px solid var(--neutral-300);
            cursor: pointer;
            background-color: #fafbff;
            box-shadow: 0 1px 1px 0 rgba(#363636, 0.06), 0 0.125rem 5px 0 rgba(#363636, 0.2);

            ps-icon {
                display: flex;
                flex-direction: column-reverse;
                font-size: 2rem;
                font-weight: 700;
                rotate: -90deg;
            }
        }

        .message-template-list {
            position: absolute;
            bottom: 112px;
            display: block;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: -webkit-fill-available;
            flex-wrap: nowrap;
            height: fit-content;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 1rem 2.5rem #edeff2;
            border-radius: 1rem;
            max-height: 256px;
            overflow-y: auto;
            margin: 0px 2.5rem;

            .item {
                cursor: pointer;
                width: 100%;
                padding: 1.5rem;
                border-bottom: 1px solid var(--neutral-300);

                &:hover {
                    background-color: rgba($color: #cdd6ff, $alpha: 0.3);
                }
            }
        }

        .templates-button {
            padding: 0.5rem;
            border-radius: 0.75rem;
            flex-direction: row;
            justify-content: center;
            width: 64px;
            display: flex;
            height: fit-content;
            margin-right: 0.75rem;

            span {
                font-size: 2rem;
                font-weight: 700;
                color: var(--neutral-300);
            }

            .active-color {
                color: var(--secondary-800);
            }
        }

        .send-button {
            margin-left: 2rem;
            width: 116px;
        }
    }
}

@media only screen and (min-width: 1680px) {
    .container {
        .header {
            .truncate {
                max-width: 768px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        margin: 0rem;
        width: 100%;
        min-width: 0px;

        .header {
            .truncate {
                max-width: 256px;
            }
        }

        .footer {
            border: none;
        }
    }
}
