@import '../../../../../styles.scss';

:host {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    height: 100%;

    .message-template-status {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        padding-bottom: 0px;
        justify-content: flex-end;

        .status {
            width: fit-content;
            height: inherit;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: var(--neutral-200);
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;

            .circle {
                background-color: var(--success);
                border-radius: 100%;
                min-width: 0.5rem;
                height: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    }

    .title {
        padding: 0 2rem;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .main-content {
        align-items: center;
        justify-content: flex-start;
        margin: 0 2rem;
        flex-grow: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
        overflow: auto;

        table {
            width: 100%;

            thead {
                background-color: #fafbff;
            }

            tbody {
                background-color: var(--neutral-100);
                width: 100%;
            }
        }

        .no-content {
            background-color: var(--neutral-100);
            width: 100%;
            border: 1px solid var(--neutral-300);
            margin-top: -1px;
            border-bottom-left-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;
            flex-grow: 1;

            .explanation {
                max-width: 32rem;
                text-align: center;
                margin-bottom: 3rem;
            }

            ps-button {
                width: 11.25rem;
            }
        }
    }

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2rem;

        ps-button {
            width: 11.25rem;
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin: 1rem;
    }
}

@media only screen and (max-width: 1440px) {
    .desktop {
        display: none !important;
    }

    .container {
        .separator {
            display: none;
        }

        .main-content {
            table {
                tbody {
                    td {
                        ps-icon {
                            margin-right: 0rem;
                        }
                    }
                }
            }
        }
    }
}
