<div class="landing">
    <div class="flex-center left">
        <div class="content">
            <div class="relative">
                <img class="logo" src="./assets/svg/favico_shadow.svg" alt="" />
                <h3 class="text--primary">A melhor solução para</h3>
            </div>

            <h1 class="text--primary text--bold">Fidelizar clientes e incentivar recompras!</h1>
            <h6 class="text padding-y-3">
                Transforme compras únicas da sua loja online em clientes fiéis através de programas de fidelização e inteligência de dados
                dos seus negócios.
            </h6>
            <img class="benefits" src="./assets/svg/zoppy_benefits.svg" alt="" />
        </div>
    </div>
    <div class="flex-center right desktop">
        <img class="people" src="./assets/svg/pana.svg" alt="" />
        <img class="circle" src="./assets/svg/half_favico_shadow.svg" alt="" />
    </div>
</div>
