@import 'src/styles.scss';

:host {
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background-color: var(--neutral-100);
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    height: 100%;

    .title {
        padding: 0 2rem;
        margin-bottom: 1rem;
        h6 {
            margin-bottom: 1rem;
        }
        padding-bottom: 1rem;
    }

    .body {
        flex-grow: 1;
        overflow: auto;
        min-height: 0;
        padding: 0 2rem;

        table {
            width: 100%;

            .actions {
                display: flex;
                justify-content: flex-end;

                ps-icon {
                    margin-left: 1.5rem;
                    font-size: 1.125rem;
                }
            }

            .mobile-email {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 10rem;
            }
        }
    }

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2rem;

        ps-button {
            width: 11.25rem;
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin: 1rem;
    }
}
