.map-container {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        height: 48px;
    }

    .search-bar {
        justify-content: center;
        display: flex;
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 96px;
        z-index: 1;
        border-radius: 12px;

        ps-search-bar {
            border-radius: 12px;
            width: 90%;
            position: relative;
            background-color: var(--neutral-100);
        }
    }

    .actions {
        margin-left: 32px;
        justify-content: start;
        display: flex;
        width: 100%;
        height: fit-content;
        position: absolute;
        bottom: 32px;
        z-index: 4;

        ps-button {
            ps-icon {
                font-size: 20px;
            }
        }
    }

    #map {
        height: 100%;
        width: 100%;
    }
}
