.side-menu {
    width: 56px;
    background-color: var(--neutral-100);
    transition-duration: 300ms;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 2px 6px 0 var(--neutral-200);

    .header {
        img {
            height: 24px;
        }
    }

    .icon-container {
        width: 40px;
    }

    ul {
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 8px;
        }

        .marker {
            border-left: 6px solid var(--secondary);
        }
    }

    .subitems {
        transform: scaleX(0);
        ps-icon {
            font-size: 24px;
            transform: rotateY(180deg);
        }

        .marker {
            border-left: unset;
        }
    }

    .subItems-open {
        transform: scaleX(1);
    }

    ps-icon {
        transform: rotateY(0deg);
        transition-duration: 300ms;
    }

    .separator {
        margin: 16px 16px;
        height: 1px;
        background-color: var(--neutral-300);
    }

    .inverted {
        transform: rotateY(180deg);
        transition-duration: 300ms;
    }
}

.open {
    width: 280px;
}

@media only screen and (max-width: 576px) {
    .side-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        transform: translateX(-56px);
        z-index: 2;
    }

    .open {
        transform: translateX(0);
    }

    .background {
        position: fixed;
        top: 0;
        z-index: 2;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(black, 0.1);
    }
}
