<div class="background mobile" *ngIf="sideMenuService.open" (click)="sideMenuService.open = false"></div>

<div
    class="side-menu"
    [ngClass]="{ open: sideMenuService.open }"
    (mouseenter)="sideMenuService.open = true"
    (mouseleave)="sideMenuService.open = false"
>
    <div
        class="flex padding-2 header padding-top-3"
        [ngClass]="{ 'flex-center': !sideMenuService.open, 'flex-start padding-x-3 padding-2': sideMenuService.open }"
    >
        <img (click)="goToInitial()" src="./assets/imgs/logo.png" *ngIf="sideMenuService.open" class="clickable" alt="" />
        <img (click)="goToInitial()" src="./assets/imgs/mini-logo.png" class="clickable padding-x-2" *ngIf="!sideMenuService.open" alt="" />
    </div>

    <div class="separator"></div>

    <ul class="flex flex-column flex-grow padding-top-3">
        <div
            *ngFor="let item of menuItems"
            (mouseenter)="item.subItemsOpened = true"
            (mouseleave)="item.subItemsOpened = false"
            [ngClass]="{ hidden: !item.visible }"
        >
            <li
                [ngClass]="{
                    'justify-center': !sideMenuService.open,
                    'flex-start': sideMenuService.open,
                    marker: sideMenuService.selected === item.id
                }"
                class="padding-2 flex align-center"
                tooltipWidth="180"
                appTooltip
                [tooltipText]="item.label"
                [tooltipHidden]="sideMenuService.open"
                tooltipDirection="right"
            >
                <a [attr.href]="item.route" (click)="itemClicked(item)">
                    <div class="icon-container flex flex-center" [ngClass]="{ 'padding-right-2': sideMenuService.open }">
                        <ps-icon
                            icon="{{ item.icon }} {{ sideMenuService.selected === item.id ? 'text--secondary' : 'text--500' }}"
                        ></ps-icon>
                    </div>
                    <span
                        [ngClass]="{ hidden: !sideMenuService.open, 'text--secondary': sideMenuService.selected === item.id }"
                        class="text text--500 label"
                        >{{ item.label }}</span
                    >
                </a>
            </li>
            <ul *ngIf="item.subItems && item.subItemsOpened" class="subitems" [ngClass]="{ 'subItems-open': item.subItemsOpened }">
                <li
                    *ngFor="let subItem of item.subItems"
                    tooltipWidth="180"
                    class="subitem flex"
                    [routerLink]="subItem.route"
                    (click)="itemClicked(subItem)"
                    appTooltip
                    [tooltipText]="subItem.label"
                    [tooltipHidden]="sideMenuService.open"
                    tooltipDirection="right"
                    [ngClass]="{
                        'justify-center': !sideMenuService.open,
                        'flex-start': sideMenuService.open,
                        marker: sideMenuService.subSelected === subItem.id,
                        hidden: !subItem.visible
                    }"
                >
                    <a [attr.href]="subItem.route">
                        <div class="icon-container flex flex-center" [ngClass]="{ 'padding-right-2': sideMenuService.open }">
                            <ps-icon
                                icon="{{ subItem.icon }} {{ sideMenuService.subSelected === subItem.id ? 'text--800' : 'text--500' }}"
                            ></ps-icon>
                        </div>
                        <span
                            class="label"
                            [ngClass]="{
                                hidden: !sideMenuService.open,
                                'text--800': sideMenuService.subSelected === subItem.id,
                                'text--500': sideMenuService.subSelected !== subItem.id
                            }"
                            >{{ subItem.label }}</span
                        >
                    </a>
                </li>
            </ul>
        </div>
    </ul>

    <div class="separator"></div>

    <div
        class="footer padding-2 padding-bottom-3 flex"
        [ngClass]="{ 'justify-center': !sideMenuService.open, 'flex-start': sideMenuService.open }"
    >
        <div [ngClass]="{ inverted: sideMenuService.open }">
            <ps-icon class="clickable text--primary" (click)="sideMenuService.open = !sideMenuService.open" icon="icon-logout"></ps-icon>
        </div>

        <a
            (click)="sideMenuService.open = false"
            [ngClass]="{ hidden: !sideMenuService.open }"
            class="text text--link text--primary margin-left-2"
        >
            Fechar menu
        </a>
    </div>
</div>

<ps-tooltip></ps-tooltip>
