<main>
    <div class="container">
        <div class="header space-between flex-center">
            <h5 class="text--primary text--bold text-20">Clientes</h5>
            <ps-button [wide]="true" (onClick)="add()" type="secondary">
                <span class="text--100 margin-x-3">Adicionar novo</span>
            </ps-button>
        </div>
        <div class="title flex flex-column space-between">
            <div class="flex flex-row desktop space-between">
                <div class="flex align-center padding-top-3 padding-bottom-2">
                    <h6 class="text--bold text-18">Gerenciamento de Clientes &nbsp;</h6>
                    <ps-icon icon="icon-info secondary " class="font-16 secondary clickable" (click)="openInfoModal()"></ps-icon>
                </div>
                <div class="flex-center right margin-left-3 margin-bottom-1">
                    <ps-search-bar
                        [searchStyle]="'border-bottom'"
                        class="margin-right-3"
                        [text]="filter.searchText"
                        (onChanged)="onSearchTextChanged($event)"
                    ></ps-search-bar>
                    <ps-pagination
                        [page]="filter.pagination.page"
                        [totalPages]="filter.pagination.totalPages"
                        (onPageChanged)="onPaginationChanged($event)"
                    ></ps-pagination>
                </div>
            </div>

            <span class="text-16">
                Para cadastrar novos clientes, pode-se fazer individualmente ou através de planilha. Caso queira usar a planilha, baixe o
                modelo abaixo, preencha com os novos clientes e depois faça o upload da mesma.
            </span>
        </div>

        <div class="body">
            <table>
                <thead>
                    <th><span class="text-16 text--primary text--bold">Nome</span></th>
                    <th class="desktop"><span class="text-16 text--primary text--bold">Telefone</span></th>
                    <th class="desktop"><span class="text-16 text--primary text--bold">Data da última compra</span></th>
                    <th class="desktop"><span class="text-16 text--primary text--bold">Total de compras</span></th>
                    <th class="desktop"><span class="text-16 text--primary text--bold">Total Gasto</span></th>
                    <th class="desktop"><span class="text-16 text--primary text--bold">Data do aniversário</span></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr class="item" *ngFor="let customer of customers">
                        <td>
                            <span [ngClass]="{ 'text--400': !customer.firstName }" class="text-16 text--600">{{
                                customer.fullName | zoppyName
                            }}</span>
                        </td>
                        <td class="desktop">
                            <span [ngClass]="{ 'text--400': !customer.phone }" class="text-16 text--600 desktop">{{
                                (customer.phone | zoppyPhone) || 'vazio'
                            }}</span>
                        </td>
                        <td class="desktop">
                            <span [ngClass]="{ 'text--400': !customer.lastPurchase }" class="text-16 text--600 desktop">{{
                                (customer.lastPurchase | date : 'dd/MM/yyyy') || 'vazio'
                            }}</span>
                        </td>
                        <td class="desktop">
                            <span [ngClass]="{ 'text--400': !customer.totalSales }" class="text-16 text--600 desktop">{{
                                customer.totalSales || 'vazio'
                            }}</span>
                        </td>
                        <td class="desktop">
                            <span [ngClass]="{ 'text--400': !customer.totalAmount }" class="text-16 text--600 desktop">{{
                                (customer.totalAmount | zoppyCurrency) || 'vazio'
                            }}</span>
                        </td>
                        <td class="desktop">
                            <span
                                *ngIf="customer.birthDate?.toString() !== 'Invalid date'"
                                [ngClass]="{ 'text--400': !customer.birthDate }"
                                class="text-16 text--600 desktop"
                                >{{ (customer.birthDate | date : 'dd/MM/yyyy') || 'vazio' }}</span
                            >

                            <span *ngIf="customer.birthDate?.toString() === 'Invalid date'" class="text-16 text--400 desktop">{{
                                'vazio'
                            }}</span>
                        </td>
                        <td class="actions">
                            <div class="flex flex-end wide">
                                <ps-button [round]="true" class="primary" type="clean" (onClick)="update(customer)">
                                    <div>
                                        <ps-icon class="primary" icon="icon-edit_square"></ps-icon>
                                    </div>
                                </ps-button>
                                <ps-button [round]="true" class="primary margin-left-1" type="clean" (onClick)="remove(customer)">
                                    <div>
                                        <ps-icon class="primary" icon="icon-delete"></ps-icon>
                                    </div>
                                </ps-button>
                                <ps-button [round]="true" class="primary margin-left-1" type="clean" (onClick)="details(customer)">
                                    <div class="right">
                                        <ps-icon class="primary" icon="icon-chevron"></ps-icon>
                                    </div>
                                </ps-button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="flex flex-center flex-grow" *ngIf="loadingData">
                <static-loading [isLoading]="true" class="loading"></static-loading>
            </div>
            <div class="wide flex-center no-content flex-column padding-3" *ngIf="customers.length === 0 && !loadingData">
                <h5 class="text--primary text--bold text-24 margin-bottom-2">Nenhum cliente cadastrado!</h5>
                <span class="text-16">
                    Você ainda não cadastrou nenhum cliente. Para cadastrar, clique no botão abaixo para baixar a planilha. Após, abra-a em
                    seu computador, preencha as respectivas informações e depois faça o envio nesta página.
                </span>
            </div>
        </div>

        <div class="footer">
            <ps-button class="margin-right-2" [wide]="true" (onClick)="download()" type="secondary">
                <span class="text--100 text--bold text-14">Baixar planilha</span>
            </ps-button>
            <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary-border">
                <span class="text--secondary text--bold text-14">Enviar planilha</span>
            </ps-button>
        </div>
    </div>

    <div class="search-customer desktop margin-right-3 margin-bottom-3">
        <div class="wide flex flex-column desktop margin-bottom-3">
            <h6 class="text-20 text--bold text--primary margin-bottom-2">Conferência de giftback</h6>
            <span class="text-16">Para verificar um giftback, insira o telefone do cliente no campo abaixo.</span>
        </div>
        <p class="text-14 text--800">Telefone</p>
        <ps-search-bar [debounce]="800" (onChanged)="onSearchCustomerDetail($event)"></ps-search-bar>
        <div class="separator margin-y-3"></div>
        <div *ngIf="!customerDetail" class="flex flex-center flex-column">
            <img class="margin-top-2" src="./assets/svg/search_customer.svg" alt="" />
            <div class="flex align-center padding-top-3 padding-bottom-2">
                <h5 class="text-24 text--bold text--primary">Nenhum cliente inserido!</h5>
            </div>
            <span class="text-16 text--center margin-x-2">
                Digite o telefone do cliente para verificar se está apto a receber giftback, sua data mínima, valor do giftback, valor
                mínimo para compra e seu prazo de validade.
            </span>
        </div>

        <div *ngIf="customerDetail" class="flex flex-center flex-column">
            <app-giftback-alert-box
                [giftback]="customerDetail.coupon"
                [name]="customerDetail.fullName"
                layout="alert"
            ></app-giftback-alert-box>
            <div class="flex flex-grow flex-center">
                <img class="margin-top-3" *ngIf="!customerDetail.coupon" src="./assets/svg/giftback_unavailable.svg" alt="" />
            </div>
            <div class="margin-y-2 flex flex-column flex-grow wide" *ngIf="customerDetail.coupon">
                <p class="text-16">Confira abaixo os dados do giftback:</p>
                <span class="flex flex-center space-between wide">
                    <p class="text-16 text--bold">Valor do giftback:</p>
                    <p class="text-16">{{ customerDetail.coupon.amount }}</p>
                </span>
                <span class="flex flex-center space-between wide">
                    <p class="text-16 text--bold">Valor mínimo da compra:</p>
                    <p class="text-16">{{ customerDetail.coupon.minPurchaseValue }}</p>
                </span>
                <span class="flex flex-center space-between wide">
                    <p class="text-16 text--bold">Prazo de validade:</p>
                    <p class="text-16">{{ customerDetail.coupon.expiryDate | date : 'dd/MM/yyyy' }}</p>
                </span>
                <span class="flex flex-center space-between wide">
                    <p class="text-16 text--bold">Data da última compra:</p>
                    <p class="text-16">{{ customerDetail.lastPurchase | date : 'dd/MM/yyyy' }}</p>
                </span>
                <span class="flex flex-center space-between wide">
                    <p class="text-16 text--bold">Código:</p>
                    <p class="text-16">{{ customerDetail.coupon.code }}</p>
                </span>
            </div>
            <div class="wide" *ngIf="getIsPremium()">
                <div class="separator margin-bottom-3"></div>
                <ps-button type="secondary" class="wide" [wide]="true" [disabled]="!customerDetail.coupon" (onClick)="redirectToChat()">
                    <span class="text-14 text--100 text--bold"> Enviar mensagem </span>
                </ps-button>
            </div>
        </div>
    </div>
</main>

<input class="hidden" (change)="handleFileInput($event)" type="file" #inputFile />
