<div class="container">
    <div class="header">
        <h5 class="text--primary text--bold margin-y-3">Cadastro de clientes</h5>
    </div>
    <div class="title flex space-between">
        <div class="flex flex-column desktop">
            <div class="flex align-center padding-y-3">
                <h6 class="text text--bold">Cadastre seus clientes &nbsp;</h6>
                <ps-icon icon="icon-info secondary " class="secondary clickable" (click)="openInfoModal()"></ps-icon>
            </div>
            <span class="text"
                >Para cadastrar seus clientes baixe a planilha abaixo em seu computador, preencha com as respectivas informações e depois
                faça o envio da planilha nesta página.
            </span>
        </div>

        <div class="flex-center right margin-left-3">
            <ps-search-bar
                [searchStyle]="'border-bottom'"
                class="margin-right-3"
                [text]="filter.searchText"
                (onChanged)="onSearchTextChanged($event)"
            ></ps-search-bar>
            <ps-pagination
                [page]="filter.pagination.page"
                [totalPages]="filter.pagination.totalPages"
                (onPageChanged)="onPaginationChanged($event)"
            ></ps-pagination>
        </div>
    </div>

    <div class="body">
        <table>
            <thead>
                <th><span class="text text--primary text--bold">Nome</span></th>
                <th class="desktop"><span class="text text--primary text--bold">Email</span></th>
                <th class="desktop"><span class="text text--primary text--bold">Telefone</span></th>
                <th class="desktop"><span class="text text--primary text--bold">Estado</span></th>
            </thead>
            <tbody>
                <tr class="item" *ngFor="let customer of customers">
                    <td>
                        <span [ngClass]="{ 'text--400': !customer.firstName }" class="text text--600">{{
                            customer.firstName || 'vazio'
                        }}</span>
                    </td>
                    <td class="desktop">
                        <span [ngClass]="{ 'text--400': !customer.email }" class="text text--600">{{ customer.email || 'vazio' }}</span>
                    </td>
                    <td class="desktop">
                        <span [ngClass]="{ 'text--400': !customer.phone }" class="text text--600 desktop">{{
                            customer.phone || 'vazio'
                        }}</span>
                    </td>
                    <td class="desktop">
                        <span [ngClass]="{ 'text--400': !customer.state }" class="text text--600 desktop">{{
                            customer.state || 'vazio'
                        }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="wide flex-center no-content flex-column padding-3" *ngIf="customers.length === 0">
            <h5 class="text--primary text--bold margin-bottom-3">Nenhum cliente cadastrado!</h5>
            <span class="text">
                Você ainda não cadastrou nenhum cliente. Para cadastrar, clique no botão abaixo para baixar a planilha. Após, abra-a em seu
                computador, preencha as respectivas informações e depois faça o envio nesta página.
            </span>
        </div>
    </div>

    <div class="footer">
        <ps-button class="margin-right-2" [wide]="true" (onClick)="download()" type="secondary">
            <span class="text--100 text--bold">Baixar planilha</span>
        </ps-button>
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary-border">
            <span class="text--secondary text--bold">Enviar planilha</span>
        </ps-button>
    </div>
</div>

<input class="hidden" (change)="handleFileInput($event)" type="file" #inputFile />
