<main>
    <p class="text text--bold">Integrações</p>
    <span class="text text-12 text--light">
        Possui Loja Virtual em algum desses provedores? Basta configurar rapidamente essa integração para usufruir de todos os processos
        automatizados da Zoppy com a sua Loja!
    </span>

    <div class="flex flex-wrap wide grid-gap-3 margin-top-3 margin-bottom-3">
        <div class="provider" *ngFor="let provider of providers">
            <div class="header flex space-between wide">
                <div class="flex flex-center">
                    <img [src]="provider.image" alt="" />
                    <span class="text text--bold margin-left-1">{{ provider.name }}</span>
                </div>
                <ps-switch [disabled]="true" [(active)]="provider.active"></ps-switch>
            </div>
            <div class="padding-x-3 margin-bottom-3">
                <span class="text--600 text-16">{{ provider.description }}</span>
            </div>
            <div class="footer flex wide clickable text-center">
                <span class="text--primary text--bold">Gerenciar</span>
                <div class="rotate margin-left-1 flex flex-center">
                    <ps-icon icon="icon-chevron" class="text--primary text-24 margin-top-1"></ps-icon>
                </div>
            </div>
        </div>
    </div>
</main>
