@import '../../../../../../../../styles.scss';

.document-message-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    border-radius: 8px;

    &--business-user {
        background-color: rgba($color: #fff, $alpha: 0.2);
    }

    &--customer-user {
        background-color: #f5f6f6;
    }

    ps-icon {
        font-size: 3rem;
        color: #79909b;
    }

    .document-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        min-width: 296px;
        margin-right: 4rem;
        max-width: 296px;

        .file-name {
            font-size: 1rem;
            font-weight: 500;
            color: rgba(17, 27, 33, 0.87);
        }

        .file-size {
            font-size: 0.75rem;
            font-weight: 400;
            color: var(--neutral-500);
        }
    }
}
