<div
    class="thread-message-container"
    [ngStyle]="{ 'flex-direction': !thread.isBusiness ? 'row' : 'row-reverse' }"
    (mouseover)="isHovered = true"
    (mouseleave)="isHovered = false"
>
    <div class="thread-message-container__body">
        <div
            class="thread-message-container__body__content"
            [ngClass]="{
                'thread-message-container__body__content--business-user': thread.isBusiness,
                'thread-message-container__body__content--customer-user': !thread.isBusiness
            }"
        >
            <div
                *ngIf="isHovered && (thread.type === 'image' || thread.type === 'document')"
                (click)="download()"
                class="card-header clickable"
            >
                <div class="card-header__options more-actions">
                    <ps-icon *ngIf="!downloading" class="icon-download font-16"></ps-icon>
                    <static-loading *ngIf="downloading" [isLoading]="true" [onlyLoading]="true"></static-loading>
                </div>
            </div>
            <div class="card-body">
                <ng-content select="[thread-message-content]"></ng-content>
            </div>
            <div class="card-footer">
                <span
                    class="viewed-icon"
                    [ngClass]="{
                        'viewed-icon--business-user': thread.isBusiness,
                        'viewed-icon--customer-user': !thread.isBusiness
                    }"
                >
                    <span *ngIf="thread.wamId">
                        <ps-icon
                            *ngIf="thread.status === 'delivered' || thread.status === 'read'"
                            class="font-14"
                            [ngClass]="{
                                'viewed-icon--status-delivered': thread.status === 'delivered',
                                'viewed-icon--status-read': thread.status === 'read'
                            }"
                            icon="icon-done_all"
                        ></ps-icon>
                        <ps-icon *ngIf="thread.status === 'sent'" class="font-14 viewed-icon--status-sent" icon="icon-approval"></ps-icon>
                        <ps-icon *ngIf="thread.status === 'failed'" class="font-14 viewed-icon--status-failed" icon="icon-error"></ps-icon>
                    </span>
                    <static-loading *ngIf="!thread.wamId" [isLoading]="true" [onlyLoading]="true"></static-loading>
                </span>
                <span *ngIf="thread?.createdAt !== null && !thread.deletedAt" class="text--500 text-12 datetime">{{
                    thread.createdAt | date : 'h:mm a'
                }}</span>
            </div>
        </div>
        <div *ngIf="thread?.type === 'template'" class="thread-message-container__body__footer">
            <span class="text-16">Mensagem automática</span>
        </div>
    </div>
</div>
