@import './../../../../../../../../styles.scss';

.thread-message-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    align-items: flex-start;

    &__body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: fit-content;

        &__content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            width: 100%;
            max-width: -webkit-fill-available;
            height: fit-content;
            padding: 1rem 2.5rem;
            border-radius: 0.75rem;
            box-shadow: 0px 1rem 2.5rem rgba(29, 29, 38, 0.08);

            &--business-user {
                position: relative;
                margin-left: 18rem;
                margin-right: 2.5rem;
                background-color: #cdd6ff;

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-left-color: #cdd6ff;
                    border-right: 0;
                    margin-top: -10px;
                    margin-right: -10px;
                }
            }

            &--customer-user {
                position: relative;
                margin-left: 2.5rem;
                margin-right: 18rem;
                background-color: #fdfdfd;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-right-color: #fdfdfd;
                    border-left: 0;
                    margin-top: -10px;
                    margin-left: -10px;
                }
            }

            .card-header {
                width: 100%;
                height: unset;
                display: none;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.25rem;

                &__options {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 30px;
                    height: 20px;
                    background-color: transparent;
                    border-radius: 100%;

                    .more-actions {
                        cursor: pointer;
                        padding: 0rem;
                    }
                }
            }

            .card-body {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 100%;
                height: fit-content;
            }

            .card-footer {
                height: 0.75rem;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;

                .datetime {
                    position: relative;
                    right: -12px;
                    bottom: -6px;
                    font-weight: 400;
                    font-size: 0.75rem;
                    padding: 0rem 0.25rem;
                }

                .viewed-icon {
                    display: flex;
                    position: relative;
                    left: -66px;
                    bottom: -6px;
                    font-weight: 400;
                    font-size: 0.75rem;
                    padding: 0rem 0.25rem;

                    &--business-user {
                        left: -66px;
                    }

                    &--customer-user {
                        display: none;
                    }

                    &--status-sent {
                        color: var(--neutral-300);
                    }

                    &--status-delivered {
                        color: var(--info);
                    }

                    &--status-read {
                        color: var(--success);
                    }

                    ps-icon {
                        width: 22px;
                        height: 0.75rem;
                    }
                }
            }
        }

        &__outline-content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            max-width: -webkit-fill-available;
            height: fit-content;
            padding: 1rem 2.5rem;
            margin-left: 18rem;
            margin-right: 2.5rem;

            span {
                font-style: italic;
                font-weight: 400;
                font-size: 1rem;
                color: #7381d2;
            }
        }
    }
}

@media (min-width: 1920px) {
    .thread-message-container {
        &__body {
            &__content {
                &--business-user {
                    margin-left: 32rem;
                }

                &--customer-user {
                    margin-right: 32rem;
                }
            }
        }
    }
}

@media (max-width: 1366px) {
    .thread-message-container {
        &__body {
            &__content {
                &--business-user {
                    margin-left: 12rem;
                }

                &--customer-user {
                    margin-right: 12rem;
                }
            }
        }
    }
}
