<div class="wrapper">
    <div class="header">
        <span class="text--primary text--bold text-24">Seja bem-vindo, {{ user.name }}</span>
        <p class="text-18 margin-y-3 desktop">
            Ficamos muito felizes em ter você por aqui e estamos prontos para escalar o seu negócio através de fidelização! Como próximos
            passos, siga as instruções abaixo para desfrutar da melhor experiência possível em nossa plataforma e prosseguir com a sua
            <b>ativação</b>. Vamos lá?
        </p>
        <div class="alert desktop" *ngIf="percent === 100">
            <ps-icon class="font-16" icon="icon-info"></ps-icon>&nbsp;
            <span class="text-16 text--bold">Informação: </span>
            <span class="text-16"
                >nossa plataforma está em desenvolvimento e em breve estaremos exibindo mais informações sobre seu negócio aqui na página
                inicial, aguarde para novidades!</span
            >
        </div>
        <div class="progress-title" *ngIf="percent !== 100">
            <span class="text-18 text--bold">Você está quase lá!</span>
            <span class="text-18 text--bold">{{ percent }}% completo</span>
        </div>

        <div class="progress-bar margin-top-2 margin-bottom-2" *ngIf="percent !== 100">
            <div class="filled" [ngStyle]="{ width: percent + '%' }"></div>
        </div>
    </div>

    <div class="main-content">
        <div class="items" *ngIf="percent !== 100">
            <div class="item padding-3 flex flex-wrap" *ngFor="let item of items" [ngClass]="{ completed: item.completed }">
                <span class="text-18 text--bold">
                    {{ item.title }}
                </span>
                <span class="text-14 margin-y-2 label">
                    {{ item.label }}
                </span>

                <span class="route clickable">
                    <div class="ic-content margin-right-1" [ngClass]="{ 'bg-success': item.completed }">
                        <ps-icon class="font-16" icon="icon-approval"></ps-icon>
                    </div>
                    <a
                        [attr.href]="item.route"
                        *ngIf="!item.completed"
                        class="text-16 text-decoration-none"
                        [ngClass]="{ 'text--500': !item.completed }"
                    >
                        Configurar
                    </a>
                    <span class="text" *ngIf="item.completed" [ngClass]="{ 'text--500': !item.completed }"> Completo </span>
                    &nbsp;
                    <ps-icon class="arrow-ic font-16 text--500" icon="icon-chevron" *ngIf="!item.completed"></ps-icon>
                </span>
            </div>
        </div>

        <div class="cards">
            <div class="card" *ngFor="let card of cards">
                <img [src]="card.image" class="desktop bg-img" alt="" />
                <img [src]="card.imageMobile" class="mobile bg-img" alt="" />

                <div class="content">
                    <div class="header padding-top-2 padding-left-3">
                        <span class="text-16 text--800">{{ card.title }}</span>
                        <ps-icon icon="icon-visibility_off text-16" class="text-16 text--800 margin-left-1 margin-top-1"></ps-icon>
                    </div>

                    <div class="body padding-top-2">
                        <span class="text--primary text--bold text-48">{{ percent === 100 ? card.value : '....' }}</span>
                        <span class="text--primary text--bold text-48"></span>
                    </div>

                    <div class="footer">
                        <span class="text-14 text--bold margin-bottom-1 text--600">Atenção</span>
                        <span class="text-14 text--600">Você precisa completar sua ativação para ver essa informação</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards">
            <div class="card rush">
                <div class="left padding-3">
                    <h5 class="text--primary padding-bottom-3">A pressa é inimiga da perfeição</h5>
                    <div class="flex">
                        <span class="text-14"
                            >A gente sabe que tem muito mais dados pra Zoppy te ajudar a <b>escalar seu negócio!</b> Logo mais teremos mais
                            visualizações pra voce poder fazer análises! &nbsp;
                            <i class="icon-sentiment_very_satisfied"></i>
                        </span>
                    </div>
                </div>
                <img src="./assets/imgs/dashboard_3.png" alt="" class="right" />
            </div>

            <div class="post">
                <div class="left">
                    <span class="text--600 text--bold">Cases de sucesso</span>
                    <div class="text--600 label text-14">
                        Confira os cases ao lado que irão ate ajudar ainda mais a impulsionar o seu negócio!
                    </div>
                    <div class="buttons">
                        <div class="button clickable" (click)="visiblePost = 0" [ngClass]="{ enabled: visiblePost === 1 }">
                            <ps-icon class="font-16" icon="icon-chevron"></ps-icon>
                        </div>
                        <div class="button clickable ic-right" (click)="visiblePost = 1" [ngClass]="{ enabled: visiblePost === 0 }">
                            <ps-icon class="font-16" icon="icon-chevron"></ps-icon>
                        </div>
                    </div>
                </div>
                <div class="blog" *ngFor="let post of posts; let index = index" [ngClass]="{ hidden: index !== visiblePost }">
                    <img class="" src="{{ post.image }}" alt="" />
                    <div class="bottom">
                        <span class="text">{{ post.title }}</span>
                        <div class="flex margin-top-1">
                            <span class="text--600 text--small">Ler artigo </span>
                            <ps-icon class="icon-chevron font-16 ic-right"></ps-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
