@import 'src/styles.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: 32px;
    margin-top: 0px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-300);
    box-shadow: $box-shadow-1;
    border-radius: 12px;
    margin-bottom: 32px;

    .header {
        border-bottom: 1px solid var(--neutral-300);
        padding: 0 32px;
    }

    .title {
        padding: 0 32px;
        margin-bottom: 16px;
        h6 {
            margin-bottom: 8px;
        }
        padding-bottom: 16px;
    }

    .body {
        margin: 0 32px;
        padding: 16px;
        border: 1px solid var(--neutral-300);
        background-color: #fafbff;
        border-radius: 12px;
        display: flex;
        flex-wrap: wrap;

        .field {
            padding: 16px 8px;
            min-width: 200px;
            width: 25%;

            span {
                line-height: 32px;
            }
        }
    }

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 32px;

        ps-button {
            width: 180px;
        }
    }
}
