<div class="container">
    <div class="header">
        <div class="tab" [ngClass]="{ selected: state === 1 }">
            <h6 [ngClass]="{ 'text--primary': state === 1 }" class="text--bold text--500 text margin-y-3">Seleção de cliente</h6>
        </div>
        <div class="tab" [ngClass]="{ selected: state !== 1 }">
            <h6 [ngClass]="{ 'text--primary': state !== 1 }" class="text--bold text--500 text margin-y-3">Lançamento de venda</h6>
        </div>
    </div>
    <div class="title" *ngIf="state === 1">
        <div class="flex align-center clickable padding-y-3" (click)="openInfoModal()">
            <h6 class="text text--bold">Selecionar um cliente</h6>
            &nbsp;
            <ps-icon icon="icon-info secondary" class="secondary"></ps-icon>
        </div>
        <span class="text">
            Para realizar o lançamento de venda forneça os dados do seu cliente preenchendo os campos abaixo e após clique em prosseguir.
        </span>
    </div>
    <div class="title" *ngIf="state !== 1">
        <div class="flex align-center clickable padding-y-3" (click)="openInfoModal()">
            <h6 class="text text--bold">Lançamento de venda</h6>
            &nbsp;
            <ps-icon icon="icon-info secondary" class="secondary"></ps-icon>
        </div>
        <span class="text"> Agora você deverá preencher os campos abaixo para registrar a venda. </span>
    </div>

    <div class="body" *ngIf="!loadingAddress && state === 1">
        <div class="field">
            <p class="text text--bold">Telefone do seu cliente</p>
            <ps-input
                mask="(00) 00000-0000"
                [debounce]="800"
                (ngModelChange)="fetchCustomer($event)"
                placeholder="Digite aqui seu telefone com DDD"
                [(ngModel)]="order.address.phone"
            ></ps-input>
        </div>
        <div class="field">
            <p class="text text--bold">Sexo do seu cliente</p>
            <ps-dropdown
                class="wide"
                [wide]="true"
                [enableSearch]="false"
                [propertyValue]="'value'"
                [(value)]="order.address.gender"
                [disabled]="!order.address.phone"
                [propertyLabel]="'label'"
                [items]="genders"
                noDataText="Selecionar"
            ></ps-dropdown>
        </div>
        <div class="field">
            <p class="text text--bold">Primeiro Nome</p>
            <ps-input [disabled]="!order.address.phone" placeholder="Digite aqui seu nome" [(ngModel)]="order.address.firstName"></ps-input>
        </div>
        <div class="field">
            <p class="text text--bold">CEP do cliente</p>
            <ps-input
                [disabled]="!order.address.phone"
                mask="00.000-000"
                [debounce]="800"
                placeholder="Digite aqui seu CEP"
                [(ngModel)]="order.address.postcode"
                (ngModelChange)="fetchZipcode($event)"
            ></ps-input>
        </div>
        <div class="field">
            <p class="text text--bold">Sobrenome</p>
            <ps-input
                [disabled]="!order.address.phone"
                placeholder="Digite aqui seu sobrenome"
                [(ngModel)]="order.address.lastName"
            ></ps-input>
        </div>
        <div class="field">
            <p class="text text--bold">Cidade e UF do seu cliente</p>
            <ps-input
                [disabled]="!order.address.phone || !order.address.postcode"
                placeholder="Digite aqui seu CEP"
                [(ngModel)]="order.address.state"
            ></ps-input>
        </div>
        <div class="field">
            <p class="text text--bold">E-mail do cliente</p>
            <ps-input
                [disabled]="!order.address.phone"
                placeholder="Digite seu email"
                type="email"
                [(ngModel)]="order.address.email"
            ></ps-input>
        </div>
        <div class="field">
            <p class="text text--bold">Data de nascimento do seu cliente</p>
            <ps-datepicker [displayTop]="true" type="input" [(model)]="order.address.birthDate" placeholder="DD/MM/AAAA"></ps-datepicker>
        </div>
    </div>

    <div class="body body-2" *ngIf="!loadingAddress && state !== 1">
        <div>
            <div class="field-2">
                <p class="text text--bold">Total (R$)</p>
                <ps-input type="number" [debounce]="800" [(ngModel)]="order.address.phone"></ps-input>
            </div>
            <div class="field-2">
                <p class="text text--bold">`Valor do desconto</p>
                <ps-radio-button
                    [propertyValue]="'value'"
                    [propertyLabel]="'label'"
                    class="margin-y-1"
                    [vertical]="false"
                    [items]="couponTypes"
                    [(value)]="couponType"
                ></ps-radio-button>
                <ps-input class="margin-y-1" type="number" placeholder="R$350,00" [(ngModel)]="order.coupon.amount"></ps-input>
                <ps-input class="margin-y-1" type="number" placeholder="30,00%" [(ngModel)]="order.coupon.amount"></ps-input>
                <ps-checkbox class="margin-y-1" [(active)]="useExistingCoupon">
                    <span class="text">Giftback encontrado. Clique na caixa à esquerda se deseja utilizá-lo.</span>
                </ps-checkbox>
            </div>

            <div class="field-2">
                <p class="text text--bold">`Operação</p>
                <ps-dropdown
                    class="wide"
                    [wide]="true"
                    [enableSearch]="false"
                    [propertyValue]="'value'"
                    [(value)]="order.operation"
                    [propertyLabel]="'label'"
                    [items]="operations"
                    [displayTop]="true"
                    noDataText="Selecionar"
                ></ps-dropdown>
            </div>
        </div>

        <div>
            <div class="field-2">
                <p class="text text--bold">Produtos</p>
                <ps-multi-select
                    [disabled]="false"
                    propertyLabel="name"
                    [selectAll]="false"
                    propertyValue="id"
                    [items]="products"
                    [values]="productsSelected"
                    (valuesChange)="selectPRoduct($event)"
                ></ps-multi-select>
            </div>

            <ul class="padding-2 margin-2">
                <li class="header padding-2">
                    <p class="text text--bold">Nome</p>
                    <p class="text text--bold">Quantidade</p>
                </li>
                <li *ngFor="let lineItem of lineItems">
                    <p class="text">{{ lineItem.name }}</p>
                    <ps-input type="number" [(ngModel)]="lineItem.quantity"></ps-input>
                </li>
                <li *ngIf="!lineItems || lineItems.length === 0" class="flex-center padding-3">
                    <p class="text--600">Lista vazia</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="loading flex-center" *ngIf="loadingAddress">
        <img [src]="logo" alt="" class="loading-logo" />
    </div>
    <div class="buttons padding-3 flex-end flex">
        <ps-button
            [wide]="true"
            [loading]="loading"
            (onClick)="changeState(2)"
            type="secondary"
            [disabled]="!order.address.phone || !order.address.firstName || !order.address.email"
        >
            <span class="text--100 text--bold">Prosseguir</span>
        </ps-button>
    </div>
</div>
