<div class="container">
    <div class="header">
        <h6 class="text--primary text--bold text-20 margin-y-3">Sincronização</h6>
    </div>
    <div class="separator"></div>

    <div class="title">
        <div class="flex main-title">
            <span class="flex clickable" (click)="openInfoModal()">
                <span class="text--bold text-18">Sincronizar todos os dados &nbsp;</span>
                <ps-icon icon="icon-info secondary" class="font-16 secondary"></ps-icon>
            </span>
        </div>
        <div class="flex align-center">
            <span class="text-16">Clique no calendário para selecionar uma data de início para a importação de dados do WooCommerce.</span>
            <ps-datepicker class="margin-left-1" type="icon" [(model)]="expirationDate"></ps-datepicker>
            <span class="text-14 text--600 margin-left-1 desktop" *ngIf="expirationDate">{{ expirationDate | date: 'dd/MM/yyyy' }}</span>
        </div>
    </div>

    <div class="body-warning" *ngIf="loaded && !key">
        <ps-icon class="font-16" icon="icon-info"></ps-icon> &nbsp; &nbsp; <span class="text-16 text--bold">Atenção: </span>&nbsp;
        <span class="text-16">você precisa ter configurado suas chaves do WooCommerce para poder ativar a sincronização de dados. </span
        >&nbsp; <a [routerLink]="'/dashboard/configurations/access-keys'" class="text-16">Clique aqui </a>&nbsp;
        <span class="text-16">para configurar. </span>
    </div>

    <div class="body">
        <div class="" *ngFor="let step of steppers">
            <ps-checkbox [(active)]="step.visible" [disabled]="!key || !expirationDate"
                ><span class="text-16">{{ step.label }}</span></ps-checkbox
            >
        </div>
    </div>

    <div class="sync">
        <ps-button [loading]="loading" [wide]="true" (onClick)="syncData()" type="secondary" [disabled]="!key || !expirationDate">
            <span class="text--100 text--bold text-14">Iniciar Sincronização</span>
        </ps-button>
    </div>
    <div class="footer">
        <div class="sync-step" *ngFor="let step of steppers" [ngClass]="{ hidden: !step.visible }">
            <div
                class="step"
                [ngClass]="{
                    success: step.state === 'success',
                    waiting: step.state === 'waiting',
                    'in-progress': step.state === 'in-progress',
                    error: step.state === 'error'
                }"
            >
                <h5 class="text-16 text--100">
                    {{ getStepIndex(step) }}
                </h5>
            </div>
            <span class="text-16" [ngClass]="{ 'text--500': step.state === 'in-progress' }">
                {{ step.label }}
            </span>
            <div class="separator"></div>
        </div>
    </div>
</div>
