@import 'src/styles.scss';

.container {
    display: flex;
    flex-direction: column;
    margin: 32px;
    margin-top: 0px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-300);
    box-shadow: $box-shadow-1;
    border-radius: 12px;
    margin-bottom: 32px;

    .header {
        border-bottom: 1px solid var(--neutral-300);
        padding: 0 32px;
    }

    .title {
        padding: 0 32px;
        margin-bottom: 16px;
        padding-top: 32px;
        h6 {
            margin-bottom: unset;
            margin: unset;
        }

        .main-title {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }
        padding-bottom: 16px;
    }

    .body {
        margin: 0 32px;
        padding: 16px;
        border: 1px solid var(--neutral-300);
        background-color: #fafbff;
        border-radius: 12px;

        ps-checkbox {
            margin-bottom: 16px;
        }
    }

    .sync {
        padding: 32px;
        width: 360px;
    }

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 32px;
    }
}
