<div class="container">
    <div class="title margin-y-3">
        <h6 class="text--bold text-18 margin-bottom-2">Redefinir minha senha</h6>
        <span class="text-16">Preencha os campos abaixo para redefinir a sua senha.</span>
    </div>

    <div class="body" *ngIf="loaded">
        <div class="field {{ field.class }}" *ngFor="let field of fields">
            <div class="text--small text--bold text--800 margin-bottom-2" [ngClass]="{ 'text--negative': field.errors.length > 0 }">
                {{ field.title }}
            </div>
            <ps-input
                *ngIf="field.inputType === 'input'"
                [placeholder]="field.placeholder"
                [(ngModel)]="field.model"
                [errors]="field.errors"
                (onFocus)="field.errors = []"
                [ngClass]="{ 'text--negative': field.errors.length > 0 }"
                [type]="field.type"
                (ngModelChange)="field.onChange()"
                [icon]="field.icon || ''"
                [mask]="field.mask || ''"
                (onIconClicked)="iconClicked(field)"
            ></ps-input>
        </div>
    </div>
    <div class="footer">
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" [disabled]="setDisabled()" type="secondary">
            <span class="text--100 text--bold text-14">Salvar</span>
        </ps-button>
    </div>
</div>
