@import 'src/styles.scss';

:host {
    max-width: 100%;
    display: flex;
    flex-grow: 1;
    min-height: 0;
}
main {
    width: 100%;
    max-width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    .card {
        margin: 1rem;
        padding: 1.5rem;
        background-color: #fdfdfd;
        border: 1px solid var(--neutral-300);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        max-width: calc(100% - 2rem);
        height: 400px;
        box-shadow: 0px 16px 24px #edeff2;

        &--default {
            width: 450px;
            max-width: 100%;
            flex-grow: 1;
            min-height: 0;
        }
    }

    .card--long {
        width: 1200px;
        max-width: calc(100% - 2rem);
        display: flex;
        flex-wrap: wrap;

        .flex-start {
            width: 550px;
            max-width: calc(100% - 2rem);
        }
    }

    .customers {
        margin: 1rem;
        padding: 2rem;
        border: 1px solid var(--neutral-300);
        border-radius: 8px;
        background-color: #fdfdfd;
        box-shadow: 0px 16px 24px #edeff2;
    }
}

@media only screen and (max-width: 576px) {
    main {
        .card {
            &--default {
                width: 450px;
                max-width: 100%;
            }
        }
        .card--long {
            flex-wrap: wrap;
            height: unset;

            .flex-start {
                max-width: 100%;
                margin-left: 0;
            }

            .container {
                flex-direction: column;
            }
        }
    }
}
