@import 'src/styles.scss';

:host {
    display: flex;
    flex-grow: 1;
    min-height: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    padding: 0rem 3rem;

    .header {
        margin-bottom: 3rem;
        align-items: center;

        .menu {
            width: 16rem;

            li {
                &:hover {
                    background-color: var(--secondary-800);
                }

                icon-content {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 100%;
                    padding: 0.5rem;
                    background-color: var(--neutral-500);
                }
            }

            .item-unselected {
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.05);
                }
            }
        }
    }

    .main-dashboard {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-columns: minmax(400px, auto);
        grid-auto-rows: minmax(281px, auto);
        row-gap: 2rem;
        column-gap: 2rem;
        padding-bottom: 3rem;

        .card {
            flex-grow: 1;
            padding: 1.5rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            width: unset;
            height: 24rem;
            background-color: #fdfdfd;
            border: 1px solid var(--neutral-300);
            border-radius: 0.75rem;
            box-shadow: 0px 1rem 2.5rem #edeff2;

            &--default {
                width: unset;
                height: unset;
                max-width: 100%;
                flex-grow: 1;
                min-height: 0;
            }
        }

        .card-long {
            grid-column-start: 1;
            grid-column-end: 4;
            height: 100%;

            .container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                width: 100%;
                column-gap: 3rem;
                align-items: center;

                .monthly-invoices-chart {
                    width: 100%;
                }

                .daily-sales-chart {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1368px) {
    .wrapper {
        .main-dashboard {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-auto-columns: minmax(400px, auto);
            grid-auto-rows: minmax(281px, auto);
            row-gap: 2rem;
            column-gap: 2rem;
            padding-bottom: 3rem;
        }
    }
}

@media only screen and (max-width: 576px) {
    main {
        .card {
            &--default {
                width: 450px;
                max-width: 100%;
            }
        }
        .card {
            flex-wrap: wrap;
            height: unset;

            .flex-start {
                max-width: 100%;
                margin-left: 0;
            }

            .container {
                flex-direction: column;
            }
        }
    }
}
