<div class="container">
    <div class="header">
        <h6 class="text--primary text--bold text-20 margin-y-3">Minha empresa</h6>
    </div>

    <div class="title margin-y-3">
        <h6 class="text--bold text-18 margin-bottom-2">Dados</h6>
        <span class="text-16">Atualize os dados da sua empresa abaixo.</span>
    </div>

    <div class="body">
        <div class="field">
            <span class="text-14 margin-bottom-1"> Nome </span>
            <ps-input type="text" placeholder="Digite o nome" [(ngModel)]="company.name"></ps-input>
        </div>
        <div class="field">
            <span class="text-14 margin-bottom-2"> Telefone </span>
            <ps-input placeholder="Digite o telefone" mask="(00) 00000-0000" [(ngModel)]="company.phone"></ps-input>
        </div>
        <div class="field">
            <span class="text-14"> CNPJ</span>
            <ps-input [(ngModel)]="company.revenueRecord" placeholder="Digite o CNPJ" mask="00.000.000/0000-00"></ps-input>
        </div>
        <div class="field">
            <span class="text-14"> Email</span>
            <ps-input [(ngModel)]="company.email" type="email" placeholder="Digite o Email"></ps-input>
        </div>
    </div>
    <div class="footer">
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary">
            <span class="text--100 text--bold text-14">Salvar</span>
        </ps-button>
    </div>
</div>
