@import 'src/styles.scss';

:host {
    flex-grow: 1;
    min-height: 0;
    display: flex;
}

.container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    margin: 32px;
    margin-top: 0px;
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-300);
    box-shadow: $box-shadow-1;
    border-radius: 12px;
    margin-bottom: 32px;
    flex-grow: 1;

    .left-panel {
        display: flex;
        justify-content: space-between;
        width: 528px;
        height: 100%;
        min-height: 0;
    }

    .right-panel {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        min-height: 0;
        margin: 0;
        padding: 16px 32px;
        border-left: 1px solid var(--neutral-300);
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #fafbff;
        overflow: auto;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin: 1rem;
    }
}
