<div class="container">
    <div class="header">
        <h5 class="text--primary text--bold margin-y-3 text-20">Produtos</h5>
    </div>
    <div class="title flex space-between">
        <div class="flex flex-column desktop">
            <div class="flex align-center padding-top-3 margin-bottom-2">
                <h6 class="text--bold text-18">Cadastre seus produtos &nbsp;</h6>
                <ps-icon icon="icon-info secondary " class="font-16 secondary clickable" (click)="openInfoModal()"></ps-icon>
            </div>
            <span class="text-16 text--800"
                >Para cadastrar seus produtos baixe a planilha abaixo em seu computador, preencha com as respectivas informações e depois
                faça o envio da planilha nesta página.
            </span>
        </div>
        <div class="flex-center right margin-left-3">
            <ps-search-bar
                [searchStyle]="'border-bottom'"
                class="margin-right-3"
                [text]="filter.searchText"
                (onChanged)="onSearchTextChanged($event)"
            ></ps-search-bar>
            <ps-pagination
                [page]="filter.pagination.page"
                [totalPages]="filter.pagination.totalPages"
                (onPageChanged)="onPaginationChanged($event)"
            ></ps-pagination>
        </div>
    </div>

    <div class="body">
        <table>
            <thead>
                <th><span class="text-16 text--primary text--bold">Produto</span></th>
                <th class="desktop"><span class="text-16 text--primary text--bold">Categorias</span></th>
                <th class="desktop"><span class="text-16 text--primary text--bold">Valor</span></th>
                <th></th>
            </thead>
            <tbody>
                <tr class="item" *ngFor="let product of products">
                    <td>
                        <span [ngClass]="{ 'text--400': !product.name }" class="text-16 text--600 text-16">{{
                            product.name || 'vazio'
                        }}</span>
                    </td>
                    <td class="desktop">
                        <span [ngClass]="{ 'text--400': !product.categoriesFormatted }" class="text-16 text--600 text-16">{{
                            product.categoriesFormatted || 'vazio'
                        }}</span>
                    </td>
                    <td class="desktop">
                        <span [ngClass]="{ 'text--400': !product.priceCurrency }" class="text-16 text--600 text-16 desktop">{{
                            product.priceCurrency || 'vazio'
                        }}</span>
                    </td>
                    <td class="actions">
                        <div class="flex flex-end wide">
                            <ps-button [round]="true" class="primary" type="clean" (onClick)="update(product)">
                                <div>
                                    <ps-icon class="primary" icon="icon-edit_square"></ps-icon>
                                </div>
                            </ps-button>
                            <ps-button [round]="true" class="primary margin-left-1" type="clean" (onClick)="remove(product)">
                                <div>
                                    <ps-icon class="primary" icon="icon-delete"></ps-icon>
                                </div>
                            </ps-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="wide flex-center no-content flex-column padding-3" *ngIf="products.length === 0">
            <h5 class="text--primary text--bold margin-bottom-2 text-24">Nenhum produto cadastrado!</h5>
            <span class="text-16">
                Você ainda não cadastrou nenhum produto. Para cadastrar, clique no botão abaixo para baixar a planilha. Após, abra-a em seu
                computador, preencha as respectivas informações e depois faça o envio nesta página.
            </span>
        </div>
    </div>

    <div class="footer">
        <ps-button [loading]="downloading" class="margin-right-2" [wide]="true" (onClick)="download()" type="secondary">
            <span class="text--100 text--bold">Baixar planilha</span>
        </ps-button>
        <ps-button [wide]="true" [loading]="loading" (onClick)="save()" type="secondary-border">
            <span class="text--secondary text--bold">Enviar planilha</span>
        </ps-button>
    </div>
</div>

<input class="hidden" (change)="handleFileInput($event)" type="file" #inputFile />
