@import '../../../../../../../../styles.scss';

.bubble-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    margin: 0rem 18px;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0.75rem;

    background-color: rgba(229, 237, 255, 0.9);
    border-radius: 8px;
    border-left: 8px solid rgba(77, 126, 255, 0.7);

    ps-icon {
        width: fit-content;
        height: fit-content;
        color: #4d7eff;
        font-size: 1.5rem;
    }

    &__message {
        color: #363636;
        width: 100%;
        font-weight: 400;
        line-height: 1.5rem;

        .hashtag {
            font-weight: 900;
            font-size: 18px;
            color: var(--secondary);
        }

        .text-bold {
            font-weight: 900;
            color: var(--neutral-800);
        }
    }
}
