<div class="bubble-info-container">
    <ps-icon class="font-20 margin-x-1" icon="icon-notification"></ps-icon>
    <span class="bubble-info-container__message text--100 text-16">
        <b class="text-16 text-bold">Importante:</b>
        Para iniciar a conversa, é preciso clicar no ícone abaixo de hashtag <span class="text-16 hashtag">#</span> e selecionar uma
        mensagem automática para enviar. Após enviar a mensagem, você deverá aguardar a resposta do cliente para escrever o que desejar na
        barra de mensagens.</span
    >
</div>
