@import 'src/styles.scss';

:host {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    height: 100%;

    .header {
        padding: 0 2rem;
    }

    .title {
        padding: 0 2rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .body {
        margin: 0 2rem;
        padding: 2rem;
        border: 1px solid var(--neutral-300);
        padding-bottom: 2rem;
        background-color: #fafbff;
        border-radius: 0.75rem;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .field {
            padding-bottom: 1.5rem;

            span {
            }

            ps-icon {
                padding-left: 1rem;
            }
        }
    }

    .footer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2rem;

        ps-button {
            width: 11.25rem;
        }
    }
}

@media only screen and (max-width: 1024px) {
    :host {
        flex-grow: 1;
        max-width: 100%;
        border: 1px solid var(--neutral-300);
        box-shadow: 0px 1rem 2.5rem -8px rgb(29 29 38 / 8%);
        border-radius: 0.75rem;
        margin: 1rem;
        background-color: var(--neutral-100);
    }
    .container {
        height: 100%;
        margin: 0rem;
        padding-bottom: 1rem;
        .header {
            padding: 0 1rem;
        }
        .title {
            padding: 0 1rem;
            margin-bottom: 1rem;
        }
        .body {
            padding: 1rem;
            margin: 0 1rem;
            .field {
                width: 100%;
                display: flex;
                column-gap: 1rem;
                padding-right: unset;
                flex-direction: column;
            }
            .buttons {
                padding: 1rem 0 0 0;
            }
        }
    }
}
