<div class="container">
    <div class="header">
        <h6 class="text--primary text--bold text-20 margin-y-3">Letalk</h6>
    </div>
    <div class="separator"></div>

    <div class="title">
        <h6 class="text-18 text--bold margin-bottom-2">Preencha os dados para integração</h6>
        <span class="text-16">Insira nos campos abaixo os dados solicitados para integrar com o Letalk.</span>
    </div>

    <div class="body">
        <div class="field">
            <p class="text-14">Aviso de giftback</p>
            <div class="flex flex-column">
                <ps-input
                    placeholder="Inserir aqui o link do webhook da Letalk para enviar mensagem de giftback liberado."
                    type="text"
                    [(ngModel)]="config.sendGiftbackUrl"
                    [rows]="4"
                ></ps-input>
                <span class="text-12 text--500 desktop padding-top-1"
                    >Mensagem automática que será enviada para o seu cliente informando o giftback.</span
                >
            </div>
        </div>
        <div class="field">
            <p class="text-14">
                Lembrete de giftback
                <span class="text--secondary text-14 desktop">&nbsp;(Enviado na metade do prazo do giftback)</span>
            </p>
            <div class="flex flex-column">
                <ps-input
                    placeholder="Inserir aqui o link do webhook da Letalk para enviar lembrete na metado do prazo do giftback."
                    type="text"
                    [(ngModel)]="config.sendGiftbackReminderUrl"
                    [rows]="4"
                ></ps-input>
                <span class="text-12 text--500 desktop padding-top-1">
                    Mensagem automática que será enviada para o seu cliente informando que faltam 21 dias para o giftback expirar.
                </span>
            </div>
        </div>
        <div class="field">
            <p class="text-14">
                Lembrete de giftback
                <span class="text--secondary text-14 desktop">&nbsp;(Enviado 3 dias antes do vencimento do giftback)</span>
            </p>
            <div class="flex flex-column">
                <ps-input
                    placeholder="Inserir aqui o link do webhook da Letalk para enviar lembrete que faltam 3 dias para vencimento do giftback."
                    type="text"
                    [(ngModel)]="config.sendGiftbackCloseReminderUrl"
                    [rows]="4"
                ></ps-input>
                <span class="text-12 text--500 desktop padding-top-1">
                    Mensagem automática que será enviada para o seu cliente informando que faltam 3 dias para o giftback expirar.
                </span>
            </div>
        </div>
    </div>

    <div class="footer">
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary" [disabled]="getSaveDisabled()">
            <span class="text--100 text-14 text--bold">Salvar</span>
        </ps-button>
    </div>
</div>
