<main *ngIf="!loading">
    <h4 class="text--primary text--bold text-20 mobile padding-2">Painel de Vendas</h4>
    <div class="container">
        <div class="header space-between flex-center">
            <h5 class="text--primary text--bold text-20">Tarefas</h5>
            <div class="flex-center flex-row">
                <ps-button type="cancel-border" (onClick)="move('back')">
                    <div class="flex-center padding-x-1">
                        <ps-icon class="primary" icon="icon-arrow_back"></ps-icon>
                    </div>
                </ps-button>
                <ps-button type="cancel-border" class="margin-left-2" (onClick)="move('forward')">
                    <div class="flex-center padding-x-1">
                        <ps-icon class="primary" icon="icon-arrow_forward"></ps-icon>
                    </div>
                </ps-button>
            </div>
        </div>

        <div class="body flex">
            <div class="column flex-column flex-grow" *ngFor="let day of days">
                <div class="header padding-2 flex align-center">
                    <div class="day" [ngClass]="{ today: day.isToday }">
                        <span class="text--bold" [ngClass]="{ 'text--500': !day.isToday, 'text--secondary': day.isToday }">{{
                            day.dayName
                        }}</span>
                    </div>
                    <span class="text--500 margin-left-2">
                        {{ day.date | date : 'dd/MM' }}
                    </span>
                </div>

                <div id="{{ day.id }}" class="items padding-2" (scroll)="onScroll(day)">
                    <div class="card flex flex-column flex-center padding-2" *ngIf="day.filter.data.length === 0 && !day.loading">
                        <img class="margin-y-2 search-customer" src="./assets/svg/search_customer.svg" alt="" />
                        <p class="text text--bold margin-y-2 text--center">Nenhuma tarefa registrada!</p>
                        <span class="text--600 text-12 text--center margin-bottom-1"
                            >Clique no botão abaixo para registrar uma nova tarefa manualmente.</span
                        >
                    </div>

                    <div
                        class="card flex flex-column padding-2"
                        [ngClass]="{
                            'margin-top-3': index !== 0,
                            'border--success': task.status === 'success',
                            'border--negative': task.status === 'negative',
                            'border--alert': task.status === 'warn'
                        }"
                        *ngFor="let task of day.filter.data; let index = index"
                    >
                        <div class="flex align-center">
                            <ps-checkbox [(active)]="task.success" [disabled]="true"></ps-checkbox>
                            <span class="text text--500">{{ getTaskTypeLabel(task) }}</span>
                        </div>
                        <ps-button
                            [type]="day.isToday ? 'secondary' : 'cancel'"
                            class="chat"
                            [round]="true"
                            [loading]="task.loadingWpp ?? false"
                            [fixedHeight]="false"
                            (onClick)="openTaskDescriptionModal(task, 'whatsapp')"
                        >
                            <div class="flex flex-center btn-content">
                                <ps-icon class="text--100" icon="icon-wpp"></ps-icon>
                            </div>
                        </ps-button>
                        <ps-button
                            [type]="day.isToday ? 'secondary' : 'cancel'"
                            class="call"
                            [round]="true"
                            [fixedHeight]="false"
                            (onClick)="openTaskDescriptionModal(task, 'call')"
                        >
                            <div class="flex flex-center btn-content">
                                <ps-icon class="text--100" icon="icon-call"></ps-icon>
                            </div>
                        </ps-button>

                        <div class="align-center margin-y-1">
                            <span class="text text--bold" [ngClass]="{ 'text-decoration-line-through': task.status === 'success' }">
                                {{ task.customer.address.firstName | zoppyName : 'notEmpty' }}
                                {{ task.customer.address.lastName | zoppyName : 'notEmpty' }}
                            </span>
                            <ps-icon
                                class="margin-left-1 text--500"
                                [icon]="getStatusLabel(task)"
                                [ngClass]="{
                                    success: task.status === 'success',
                                    warning: task.status === 'warn',
                                    negative: task.status === 'negative'
                                }"
                                tooltipWidth="180"
                                appTooltip
                                [tooltipText]="getStatusLabelExplanation(task)"
                                tooltipDirection="down"
                            ></ps-icon>
                        </div>

                        <span class="text-12 text--600">Posição: {{ getPosition(task) }}</span>
                        <span class="text-12 text--600 margin-bottom-1" *ngIf="task.customer.user"
                            >Vendedor: {{ task.customer.user.name }}</span
                        >
                        <a class="flex align-center clickable link text--link" [attr.href]="task.route">
                            <span class="text--primary text--bold text--link text-14"> Ver cliente </span>
                            <div class="rotate margin-left-1">
                                <ps-icon icon="icon-chevron" class="text--primary"></ps-icon>
                            </div>
                        </a>
                    </div>
                </div>

                <div *ngIf="day.loading" class="loading-column flex flex-center">
                    <img [src]="darkLoading" />
                </div>

                <div class="padding-2">
                    <ps-button [wide]="true" [type]="day.isToday ? 'secondary' : 'secondary-border'" (onClick)="addTask(day)">
                        <span class="text--bold" [ngClass]="{ 'text--100': day.isToday, 'text--secondary': !day.isToday }">
                            Adicionar tarefa +
                        </span>
                    </ps-button>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="loading">
    <div class="container">
        <div class="loading flex flex-center padding-3 wide tall">
            <img [src]="logo" alt="" />
        </div>
    </div>
</main>
<ps-tooltip></ps-tooltip>
