<main *ngIf="!loading">
    <div class="container">
        <div class="header space-between flex-center">
            <h5 class="text--primary text--bold text-20">Tarefas</h5>
            <div class="flex-center flex-row">
                <ps-button type="cancel-border" (onClick)="move('back')">
                    <div class="flex-center padding-x-1">
                        <ps-icon class="primary" icon="icon-arrow_back"></ps-icon>
                    </div>
                </ps-button>
                <ps-button type="cancel-border" class="margin-left-2" (onClick)="move('forward')">
                    <div class="flex-center padding-x-1">
                        <ps-icon class="primary" icon="icon-arrow_forward"></ps-icon>
                    </div>
                </ps-button>
            </div>
        </div>

        <div class="body flex">
            <div class="column flex-column flex-grow" *ngFor="let day of days">
                <div class="header padding-2 flex align-center">
                    <div class="day" [ngClass]="{ today: day.isToday }">
                        <span class="text--bold" [ngClass]="{ 'text--500': !day.isToday, 'text--secondary': day.isToday }">{{
                            day.dayName
                        }}</span>
                    </div>
                    <span class="text--500 margin-left-2">
                        {{ day.date | date: 'dd/MM' }}
                    </span>
                </div>
                <div class="items padding-2">
                    <div class="card flex flex-column flex-center padding-2" *ngIf="!day.tasks || day.tasks.length === 0">
                        <img class="margin-y-2 search-customer" src="./assets/svg/search_customer.svg" alt="" />
                        <p class="text text--bold margin-y-2 text--center">Nenhuma tarefa registrada!</p>
                        <span *ngIf="false" class="text text--600 text--center margin-bottom-1"
                            >Clique no botão abaixo para registrar uma nova tarefa manualmente.</span
                        >
                    </div>

                    <div
                        class="card flex flex-column padding-2"
                        [ngClass]="{ 'margin-top-3': index !== 0 }"
                        *ngFor="let task of day.tasks; let index = index"
                    >
                        <div class="flex align-center">
                            <ps-checkbox [(active)]="task.concluded" [disabled]="true"></ps-checkbox>
                            <span class="text text--500">{{ getTaskTypeLabel(task) }}</span>
                        </div>
                        <ps-button
                            [type]="day.isToday ? 'secondary' : 'cancel'"
                            class="chat"
                            [round]="true"
                            [fixedHeight]="false"
                            (onClick)="openTaskDescriptionModal(task, 'whatsapp')"
                        >
                            <div class="flex flex-center btn-content">
                                <ps-icon class="text--100" icon="icon-wpp"></ps-icon>
                            </div>
                        </ps-button>
                        <ps-button
                            [type]="day.isToday ? 'secondary' : 'cancel'"
                            class="call"
                            [round]="true"
                            [fixedHeight]="false"
                            (onClick)="openTaskDescriptionModal(task, 'call')"
                        >
                            <div class="flex flex-center btn-content">
                                <ps-icon class="text--100" icon="icon-call"></ps-icon>
                            </div>
                        </ps-button>

                        <span class="text text--bold margin-y-1" [ngClass]="{ 'text-decoration-line-through': task.concluded }">
                            {{ task.customer.address.firstName | zoppyName }} {{ task.customer.address.lastName | zoppyName }}
                        </span>
                        <span class="text-12 text--600">Posição: {{ getPosition(task) }}</span>
                        <span class="text-12 text--600 margin-bottom-1" *ngIf="task.customer.user"
                            >Vendedor: {{ task.customer.user.name }}</span
                        >
                        <a class="flex align-center clickable link text--link" [attr.href]="task.route">
                            <span class="text--primary text--bold text--link text-14"> Ver cliente </span>
                            <div class="rotate margin-left-1">
                                <ps-icon icon="icon-chevron" class="text--primary"></ps-icon>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="loading">
    <div class="container">
        <div class="loading flex flex-center padding-3 wide tall">
            <img [src]="logo" alt="" />
        </div>
    </div>
</main>
