<div class="container">
    <div class="header">
        <h5 class="text--primary text--bold margin-y-3">Mensagens</h5>
        <div (click)="newMessage()" class="button-plus">
            <span class="text text--primary">+</span>
        </div>
    </div>

    <div *ngIf="conversations.length <= 0" class="empty-list">
        <img [src]="EMPTY_lIST_IMAGE_DIR" alt="" class="margin-y-3" />
        <span class="text text--primary"
            >Você não tem um histórico de mensagens. <br />
            Clique em <img [src]="NEW_MESSAGE_IMAGE_DIR" alt="" /> para iniciar uma conversa.</span
        >
    </div>

    <div *ngIf="conversations.length > 0" class="conversations">
        <div *ngFor="let conversation of conversations">
            <div class="item" (click)="selectedConversationEvent.emit(conversation[1])">
                <div class="item-header">
                    <h5 class="text text--bold truncate">{{ conversation[1].contact.displayName }}</h5>
                    <h6 *ngIf="conversation[1].threads.length > 0" class="text--small text--400">
                        {{ conversation[1].threads[conversation[1].threads.length - 1].createdAt | date: 'h:mm a' }}
                    </h6>
                </div>
                <span *ngIf="conversation[1].threads.length > 0" class="item-content truncate"
                    >{{ conversation[1].threads[conversation[1].threads.length - 1].content }}
                </span>
            </div>
        </div>
    </div>
</div>
