@import 'src/styles.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100;
    flex-grow: 1;
    min-height: 0;
}

main {
    height: 100%;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;

    .header {
        padding: 1rem 2rem;
    }

    .body {
        flex-grow: 1;
        min-height: 0;
        display: flex;
        grid-gap: 1.5rem;

        .side-info {
            max-width: 30rem;
            height: 100%;
            overflow: auto;
            padding-right: 0.5rem;
            padding-bottom: 2rem;

            &__header {
                ps-icon {
                    font-size: 1.25rem !important;
                }
            }

            ps-icon {
                font-size: 1rem;
            }
        }

        td {
            padding: 1rem;
            height: 100%;
            border: none;
        }

        thead {
            border: 1px solid var(--neutral-200);
        }

        tr {
            border: 1px solid var(--neutral-200);
        }

        th {
            padding: 0.5rem 1rem;
        }

        .selector {
            padding: 0.5rem 1rem;
            border: 1px solid var(--neutral-300);
            border-radius: 1.5rem;
        }

        .selected {
            border: 1px solid var(--secondary);
        }

        .status {
            ps-icon {
                font-size: 1.75rem;
            }
        }

        .classification {
            ps-icon {
                font-size: 1.25rem;
            }
        }

        .nps-rating-section {
            margin-top: 1rem;
            background-color: #edf2ff;
            border-radius: 8px;

            .recommendation-section {
                padding: 1rem 0rem;
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .option {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 3rem;
                    height: 2.375rem;
                    background: #fdfdfd;
                    border-radius: 8px;
                    margin-right: 0.5rem;

                    cursor: pointer;

                    .text {
                        font-weight: 700;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        color: #4d7eff;
                    }

                    &--active {
                        background: #4d7eff;

                        .text {
                            color: #f1f5f8;
                        }
                    }
                }
            }
        }
    }
}

/**Rating**/

::ng-deep label.star {
    padding: 0 5px !important;
    font-size: 48px !important;
    color: #ddd !important;
    &::before {
        content: '\f005' !important;
    }
    &:hover {
        transform: rotate(0deg) scale(1.2) !important;
    }
}

.loading {
    img {
        height: 4rem;
        width: 4rem;
    }
}

@media only screen and (max-width: 576px) {
    main {
        padding: 1rem;
    }
}
