@import 'src/styles.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100;
    flex-grow: 1;
    min-height: 0;
}

main {
    height: 100%;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;

    .header {
        padding: 1rem 2rem;
    }

    .body {
        flex-grow: 1;
        min-height: 0;
        display: flex;
        grid-gap: 1.5rem;

        .side-info {
            max-width: 30rem;
            height: 100%;
            overflow: auto;
            padding-right: 0.5rem;
            padding-bottom: 2rem;

            &__header {
                ps-icon {
                    font-size: 1.25rem !important;
                }
            }

            ps-icon {
                font-size: 1rem;
            }
        }

        td {
            padding: 1rem;
            height: 100%;
            border: none;
        }

        thead {
            border: 1px solid var(--neutral-200);
        }

        tr {
            border: 1px solid var(--neutral-200);
        }

        th {
            padding: 0.5rem 1rem;
        }

        .selector {
            padding: 0.5rem 1rem;
            border: 1px solid var(--neutral-300);
            border-radius: 1.5rem;
        }

        .selected {
            border: 1px solid var(--secondary);
        }

        .status {
            ps-icon {
                font-size: 1.75rem;
            }
        }

        .classification {
            ps-icon {
                font-size: 1.25rem;
            }
        }

        .nps-rating-content {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: minmax(180px, 200px) minmax(200px, 1fr);
            row-gap: 2rem;
            column-gap: 2rem;
            padding-bottom: 3rem;

            .support-section {
                margin-top: 1rem;
                background-color: #edf2ff;
                border-radius: 8px;
                width: 100%;
                height: 100%;
                border: 1px solid #dddddd;
                background-color: var(--neutral-100);
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 2;
                padding: 1rem;
                border-radius: 12px;
                box-shadow: 0px 16px 24px #edeff2;
            }

            .product-section {
                margin-top: 1rem;
                background-color: #edf2ff;
                border-radius: 8px;
                width: 100%;
                height: 100%;
                border: 1px solid #dddddd;
                background-color: var(--neutral-100);
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 2;
                grid-column-end: 3;
                padding: 1rem;
                border-radius: 12px;
                box-shadow: 0px 16px 24px #edeff2;
            }

            .recommendation-section {
                margin-top: 1rem;
                background-color: #edf2ff;
                border-radius: 8px;
                width: 100%;
                height: 100%;
                border: 1px solid #dddddd;
                background-color: var(--neutral-100);
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 3;
                grid-column-end: 4;
                padding: 1rem;
                border-radius: 12px;
                box-shadow: 0px 16px 24px #edeff2;

                &__value {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 3rem;
                    height: 2.375rem;
                    background-color: #4d7eff;
                    border-radius: 8px;
                    margin-right: 0.5rem;
                    font-weight: 700;

                    &--detractor {
                        background-color: var(--negative);
                        color: var(--neutral-100);
                    }

                    &--neutral {
                        background-color: var(--warning);
                        color: var(--neutral-100);
                    }

                    &--promoter {
                        background-color: var(--success);
                        color: var(--neutral-100);
                    }
                }

                &__label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    margin-right: 0.5rem;
                    background-color: #edf2ff;
                    font-weight: 700;
                    color: #363636;
                    padding: 0.5rem;
                }
            }

            .commentary-section {
                background-color: #edf2ff;
                border-radius: 8px;
                width: 100%;
                height: 100%;
                border: 1px solid #dddddd;
                background-color: var(--neutral-100);
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 4;
                padding: 1rem;
                border-radius: 12px;
                box-shadow: 0px 16px 24px #edeff2;

                &__content {
                    margin-top: 1rem;
                    background-color: #edf2ff;
                    border-radius: 8px;
                }
            }
        }
    }
}

/**Rating**/
::ng-deep label.star {
    padding: 0 5px !important;
    font-size: 48px !important;
    color: #ddd !important;
    &::before {
        content: '\f005' !important;
    }
    &:hover {
        transform: rotate(0deg) scale(1.2) !important;
    }
}

.loading {
    img {
        height: 4rem;
        width: 4rem;
    }
}

@media only screen and (max-width: 1920px) {
    /**Rating**/
    ::ng-deep label.star {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 1748px) {
    /**Rating**/
    ::ng-deep label.star {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 1368px) {
    main {
        padding: 1rem;

        .body {
            .nps-rating-content {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: minmax(140px, 160px) minmax(160px, 1fr);
                row-gap: 2rem;
                column-gap: 2rem;
                padding-bottom: 3rem;
            }
        }
    }

    /**Rating**/
    ::ng-deep label.star {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 992px) {
    main {
        padding: 1rem;

        .body {
            .nps-rating-content {
                width: 100%;
                height: 100%;
                display: flex !important;
                flex-direction: column;
                flex-wrap: nowrap;
                padding-bottom: 3rem;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    /**Rating**/
    ::ng-deep label.star {
        font-size: 28px !important;
    }
}
