:host {
    flex-grow: 1;
    min-height: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
    }

    .main-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        min-height: 0;

        img {
            height: 48px;
        }

        .chart-content {
            height: 100%;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .container {
        .main-content {
            .chart-content {
                canvas {
                    max-height: 200px !important;
                }
            }
        }
    }
}
