@import '../../../styles.scss';

.nps-rating-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    //background-color: aqua;
    background-image: url('./../../../assets/imgs/nps_background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;

    &__content {
        position: relative;
        min-width: 63rem;
        width: 63rem;
        min-height: 45.875rem;
        max-height: 45.875rem;
        display: flex;
        flex-direction: column;
        margin: 2rem;
        margin-top: 0px;
        margin-bottom: 2rem;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background-color: #fdfdfd;
        padding: 4rem;
    }
}

@media only screen and (max-width: 576px) {
    .nps-rating-container {
        &__content {
            min-height: 50.875rem;
            max-height: 50.875rem;
            background-color: rgba($color: #fdfdfd, $alpha: 0.9);
            min-width: 0;
            width: 34rem !important;
            padding: 2rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .nps-rating-container {
        &__content {
            background-color: rgba($color: #fdfdfd, $alpha: 0.9);
            min-width: 0;
            width: 43rem;
            padding: 3rem;
        }
    }
}
