@import 'src/styles.scss';

.register {
    width: 100vw;
    height: 100vh;

    &__content {
        flex-grow: 1;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: calc(100vw - 87vh);
        min-width: 350px;
        background-color: var(--neutral-100);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 100vh;
        overflow: auto;

        .logo-content {
            display: flex;
            width: 100%;
            justify-content: flex-start;
        }
        .logo {
            height: 20px;
        }

        .text--center {
            width: 100%;
            text-align: center;
        }

        .form {
            display: flex;
            justify-content: space-between;
            width: 500px;
            flex-grow: 1;
            align-items: center;
            max-width: calc(100vh - 64px);
            flex-wrap: wrap;

            .field {
                width: 100%;
                span {
                    line-height: 2rem;
                }
            }

            .checkbox {
                display: flex;
                align-items: center;
            }

            .half-size {
                width: calc(50% - 0.5rem);
            }
        }

        .button-content {
            padding-top: 2rem;
            width: 100%;
            ps-button {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    app-carrossel {
        display: none;
    }
}

@media only screen and (max-width: var(--phone-portrait-breakpoint)) {
    .register {
        overflow-y: auto;
        &__content {
            justify-content: center;
            position: unset;
            left: unset;
            top: unset;
            bottom: unset;
            width: 100%;
            padding: 2rem;
            flex-grow: unset;
            z-index: 2;
            min-width: unset;
            background-color: unset;
            display: unset;
            flex-direction: unset;
            align-items: unset;
            max-height: unset;
            overflow: auto;
            .logo-content {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 2rem 0;
            }

            .form {
                width: unset;
                max-width: unset;
                padding: 0 2rem;
                .field {
                    padding: 0.5rem;
                    span {
                        line-height: 2.5rem;
                    }
                }

                .checkbox {
                    font-size: 0.78rem;
                }

                .half-size {
                    width: 100%;
                }
            }
        }
    }
}
