@import 'src/styles.scss';

:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-image: url('./../../../assets/imgs/background_register.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    .register {
        max-width: 90vw;
        max-height: 90vh;
        width: 80rem;

        form {
            flex-grow: 1;
            min-height: 0;
            overflow: auto;
        }

        .progress-bar {
            height: 0.25rem;
            border-radius: 0.25rem;
            width: 100%;
            background-color: var(--neutral-200);

            .fill {
                height: 100%;
                border-radius: 0.25rem;
                background-color: var(--secondary);
            }
        }

        .step-1,
        .step-4 {
            display: flex;
            grid-gap: 2rem;
            flex-wrap: wrap;
        }

        .step-2 {
            display: flex;
            grid-gap: 2rem;
            flex-wrap: wrap;

            .ecommerce {
                padding: 2rem;
                border: 1px solid var(--neutral-400);
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: calc(50% - 1rem);
                img {
                    max-height: 3rem;
                    margin: 1rem;
                }

                .approval {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    border: 1px solid var(--neutral-400);
                    padding: 0.25rem 0.5rem;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    ps-icon {
                        color: var(--neutral-400);
                        font-size: 1.5rem;
                    }
                }
            }

            .selected {
                border: 2px solid var(--success);
                .approval {
                    border: unset;
                    background-color: var(--success);

                    ps-icon {
                        color: var(--neutral-100);
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .step-3 {
            display: flex;
            flex-direction: column;
            grid-gap: 2rem;
            flex-grow: 1;
            min-height: 0;
            .plans {
                display: flex;
                grid-gap: 2rem;
                flex-wrap: wrap;
                height: 100%;
                overflow: auto;
                .special-border {
                    border-radius: 0.5rem;
                    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #00ffe6, #7b3dff);
                    background-origin: border-box;
                    background-clip: content-box, border-box;
                    padding: 2px;
                    flex-grow: 1;
                    width: 15rem;
                    .plan {
                        border: unset;
                        width: 100%;
                        height: 100%;
                    }
                }
                .selected {
                    border: 2px solid var(--success);
                    border-radius: 0.5rem;

                    .plan {
                        border: unset !important;
                        .approval {
                            border: unset;
                            background-color: var(--success);
                            .padding-1 {
                                ps-icon {
                                    color: var(--neutral-100);
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
                .plan {
                    padding: 2rem;
                    border: 1px solid var(--neutral-400);
                    border-radius: 0.5rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    position: relative;
                    height: 100%;

                    .approval {
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        border: 1px solid var(--neutral-400);
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 1rem;
                        margin-left: 1rem;

                        ps-icon {
                            color: var(--neutral-400);
                            font-size: 1.5rem;
                        }

                        .padding-1 {
                            padding: 0.25rem 0.4rem;
                        }
                    }

                    .special {
                        border: double 1px transparent;
                        border-radius: 100%;
                        background-image: linear-gradient(white, white), radial-gradient(circle at top left, #00ffe6, #7b3dff);
                        background-origin: border-box;
                        background-clip: content-box, border-box;
                        padding: 1px;
                        ps-icon {
                            background: -moz-linear-gradient(top, #00ffe6 0%, #7b3dff 100%);
                            background: -webkit-linear-gradient(top, #00ffe6 0%, #7b3dff 100%);
                            background: linear-gradient(to bottom, #00ffe6 0%, #7b3dff 100%);
                            -webkit-background-clip: text;
                            -moz-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }

                    .items {
                        .item {
                            ps-icon {
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
                .border {
                    flex-grow: 1;
                    width: 15rem;
                    .plan {
                        padding: 2rem;
                        border: 1px solid var(--neutral-400);
                        border-radius: 0.5rem;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        position: relative;
                        height: 100%;

                        .tooltip {
                            color: var(--primary-500);
                        }

                        .approval {
                            position: absolute;
                            top: 1rem;
                            right: 1rem;
                            border: 1px solid var(--neutral-400);
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 1rem;
                            margin-left: 1rem;

                            ps-icon {
                                color: var(--neutral-400);
                                font-size: 1.5rem;
                            }

                            .padding-1 {
                                padding: 0.25rem 0.4rem;
                            }
                        }

                        .special {
                            border: double 1px transparent;
                            border-radius: 100%;
                            background-image: linear-gradient(white, white), radial-gradient(circle at top left, #00ffe6, #7b3dff);
                            background-origin: border-box;
                            background-clip: content-box, border-box;
                            padding: 1px;
                            ps-icon {
                                background: -moz-linear-gradient(top, #00ffe6 0%, #7b3dff 100%);
                                background: -webkit-linear-gradient(top, #00ffe6 0%, #7b3dff 100%);
                                background: linear-gradient(to bottom, #00ffe6 0%, #7b3dff 100%);
                                -webkit-background-clip: text;
                                -moz-background-clip: text;
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                    }
                }
            }
        }

        .buttons {
            width: 100%;
            display: flex;
            grid-gap: 2rem;
            padding-bottom: 1rem;

            ps-button {
                width: calc(50% - 1rem);
            }
        }

        .half-size {
            width: calc(50% - 1rem);
        }
    }
}

@media screen and (max-width: 576px) {
    main {
        .register {
            .step-3 {
                .plans {
                    justify-content: center;
                    .border {
                        width: 100%;
                    }
                    .plan {
                        min-height: 25rem;
                        width: 100%;
                    }
                }
            }
        }
    }
}
