@import 'src/styles.scss';

.top-bar {
    width: 100%;
    padding: 16px 32px;
    .left-content {
        align-items: center;

        .breadcrumb {
            padding-top: 8px;
            a {
                text-decoration: none;
            }
        }
    }

    ul {
        min-width: 180px;

        li {
            ps-icon {
                font-size: 16px;
                color: var(--neutral-600);
            }
        }
    }

    ps-icon {
        font-size: 24px;
    }
}

@media only screen and (max-width: 576px) {
    .top-bar {
        background-color: var(--neutral-100);
        padding: 0;
        width: 100%;
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 8px 16px rgba(237, 239, 242, 0.5);
        border: 1px solid var(--neutral-300);

        ps-icon {
            color: var(--primary);
            cursor: pointer;
        }
    }
}
