<div class="top-bar flex-grow flex">
    <ps-icon class="mobile" icon="icon-menu" (click)="sideMenuService.open = !sideMenuService.open"></ps-icon>

    <div class="flex flex-grow left-content desktop">
        <div class="circle margin-right-1"></div>
        <div class="breadcrumb" *ngFor="let item of breadcrumb.items; let index = index">
            <a class="text--small text--500" [attr.href]="item.route" class="flex flex-center">
                <span
                    class="text--small"
                    [ngClass]="{ 'text--800': index === breadcrumb.items.length - 1, 'text--500': index !== breadcrumb.items.length - 1 }"
                >
                    {{ item.name }} &nbsp;
                </span>
                <span class="text--small text--500" *ngIf="index !== breadcrumb.items.length - 1"> >&nbsp; </span>
            </a>
        </div>
    </div>
    <div class="flex-center flex">
        <div class="padding-2 flex flex-center desktop clickable" (click)="navigateToWhatsapp()">
            <ps-icon icon="icon-wpp text--500"></ps-icon>
        </div>
        <ps-contact class="margin-left-2" [tooltip]="false" [name]="user?.name ?? ''" [email]="user?.email ?? ''"></ps-contact>
        <div class="flex flex-start flex-column margin-left-2 desktop">
            <span class="text text--primary text--bold">
                {{ user?.name }}
            </span>
            <span class="text text--600 text--small">
                {{ user?.email }}
            </span>
        </div>
        <ps-mini-menu class="margin-left-2 clickable">
            <ul>
                <li class="flex flex-start clickable" (click)="navigateToProfile()">
                    <ps-icon class="margin-right-2" icon="icon-user text--600"></ps-icon>
                    <span class="text text--600">Meu Perfil</span>
                </li>
                <li class="flex flex-start clickable" (click)="publicService.confirmLogout()">
                    <ps-icon class="margin-right-2" icon="icon-logout text--600"></ps-icon>
                    <span class="text text--600"> Sair </span>
                </li>
            </ul>
        </ps-mini-menu>
    </div>
</div>
