@import 'src/styles.scss';
@import '../../../../../zoppy-styles.scss';

.top-bar {
    width: 100%;
    padding: 1rem 3rem;

    .left-content {
        align-items: center;
        padding-top: 0.5rem;

        .circle {
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--secondary);
            border-radius: 100%;
        }

        .breadcrumb {
            a {
                text-decoration: none;
            }
        }
    }

    ul {
        min-width: 11.25rem;

        li {
            ps-icon {
                font-size: 1rem;
                color: var(--neutral-600);
            }
        }
    }

    ps-icon {
        font-size: 2.5rem;
    }

    ps-mini-menu {
        div {
            width: 25rem;
            max-width: 80vw;
            display: flex;
            flex-direction: column;

            div,
            ul {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .top-bar {
        background-color: var(--neutral-100);
        padding: 0;
        width: 100%;
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 0.5rem 1rem rgba(237, 239, 242, 0.5);
        border: 1px solid var(--neutral-300);

        ps-icon {
            color: var(--primary);
            cursor: pointer;
        }
    }
}
