<div class="top-bar flex-grow flex">
    <ps-icon class="mobile" icon="icon-menu" (click)="sideMenuService.open = !sideMenuService.open"></ps-icon>

    <div class="flex flex-grow left-content desktop">
        <div class="circle margin-right-1"></div>
        <div class="breadcrumb" *ngFor="let item of breadcrumb.items; let index = index">
            <a class="text-16 text--500" [attr.href]="item.route" class="flex flex-center">
                <span
                    class="text-16"
                    [ngClass]="{ 'text--800': index === breadcrumb.items.length - 1, 'text--500': index !== breadcrumb.items.length - 1 }"
                >
                    {{ item.name }} &nbsp;
                </span>
                <span class="text-16 text--500" *ngIf="index !== breadcrumb.items.length - 1"> >&nbsp; </span>
            </a>
        </div>
    </div>
    <div class="flex-center flex">
        <div class="padding-2 flex flex-center desktop clickable" (click)="navigateToWhatsapp()">
            <ps-icon icon="icon-wpp text--500"></ps-icon>
        </div>
        <ps-contact class="margin-left-2" [tooltip]="false" [name]="user?.name ?? ''" [email]="user?.email ?? ''"></ps-contact>
        <div class="flex flex-start flex-column margin-left-2 desktop">
            <span class="text text--primary text--bold text-16">
                {{ user?.name }}
            </span>
            <span class="text text--600 text-12">
                {{ user?.email }}
            </span>
        </div>
        <ps-mini-menu class="margin-left-2 clickable">
            <div>
                <div class="padding-2 flex-center flex-column">
                    <ps-contact
                        class="margin-left-2 margin-top-2"
                        size="4rem"
                        [tooltip]="false"
                        [name]="user?.name ?? ''"
                        [email]="user?.email ?? ''"
                    ></ps-contact>
                    <div class="flex-center text--center flex-column padding-top-2">
                        <h5 class="text--primary text--bold text--center text-16">
                            {{ user?.name }}
                        </h5>
                        <span class="text text--600 text-12 text--center">
                            {{ user?.email }}
                        </span>
                    </div>
                </div>
                <div class="separator margin-y-2"></div>
                <ul>
                    <li
                        *ngFor="let item of barItems"
                        [routerLink]="item.route"
                        class="{{ item.class }}"
                        [ngClass]="{ hidden: !item.visible }"
                    >
                        <a class="text-decoration-none" [attr.href]="item.route">
                            <span class="text text--600 text-14">{{ item.label }}</span>
                        </a>
                    </li>
                </ul>
                <div class="separator margin-y-2"></div>
                <ul>
                    <li class="flex flex-start clickable" (click)="publicService.confirmLogout()">
                        <ps-icon class="margin-right-2" icon="icon-logout text--primary"></ps-icon>
                        <span class="text text--primary text-14"> Sair </span>
                    </li>
                </ul>
            </div>
        </ps-mini-menu>
    </div>
</div>
