@import '@ZoppyTech/visual-identity/assets/styles.css';
@import '@fontsource/inter';

html,
body {
    font-size: 100%;
    box-sizing: border-box;
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
    margin: 0;
    font-family: 'Inter';
}

input {
    font-family: 'Inter' !important;
}

.margin {
    margin: 1rem;
}

table {
    border-radius: 0.5rem;
}

table,
th,
td {
    text-align: start;
    border: 1px solid var(--neutral-300);
    border-collapse: collapse;
}

td {
    padding: 2rem;
    height: 100%;
    border: none;
}

thead {
    border: 1px solid var(--neutral-300);
}

tr {
    border: 1px solid var(--neutral-300);
}

th {
    padding: 1rem 2rem;
    background-color: #fafbff;
    border-radius: 0.5rem 0.5rem 0px 0px;
    border: none;
}

.light-bg {
    background-color: #fafbff !important;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    overflow: auto;
}

.hidden {
    display: none !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.justify-content-end {
    display: flex;
    justify-content: flex-end;
}

.align-items-end {
    display: flex;
    align-items: flex-end;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.text--center {
    text-align: center;
}

.line-height-1 {
    line-height: 0.5rem;
}

.line-height-2 {
    line-height: 1rem;
}

.line-height-3 {
    line-height: 1.5rem;
}

.wide {
    width: 100%;
}

.tall {
    height: 100%;
}

.round {
    border-radius: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.rotate {
    transform: rotateY(180deg);
}

.truncate {
    display: block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.giftback-alert {
    border-radius: 0.75rem;
}

.giftback-alert--success {
    border: 1px solid var(--success);
    background-color: rgba(48, 225, 161, 0.1);
}

.giftback-alert--error {
    background: rgba(235, 0, 0, 0.1);
    border: 1px solid var(--negative);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: unset;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

$box-shadow-1: 0px 1rem 2.5rem -0.5px rgba(29, 29, 38, 0.08);

@media only screen and (max-width: 576px) {
    ::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.25rem;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 0.25rem;
        background: var(--neutral-400);
    }

    td {
        padding: 2rem 1rem;
    }

    h1 {
        font-size: 2rem;
    }
}

::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: var(--neutral-400);
}

.menu-content {
    position: relative;

    ul {
        margin-top: 1rem;
        box-shadow: 0px 1rem 2.5rem -0.5px rgba(29, 29, 38, 0.08);
        border-radius: 0.75rem;
        background-color: var(--neutral-100);
        position: absolute;
        z-index: 3;
    }
}

.box-content {
    box-shadow: $box-shadow-1;
    border-radius: 0.75rem;
    background-color: var(--neutral-100);
}

.margin-top-unset {
    margin-top: unset;
}

.width-50 {
    width: 50%;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: var(--neutral-300);
}

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.scroll {
    overflow: auto;
    min-height: 0;
}

@media screen and (max-width: 1920px) {
    html,
    body {
        font-size: 100%;
    }
}

@media screen and (max-width: 1680px) {
    html,
    body {
        font-size: 75%;
    }
}

@media screen and (max-width: 1368px) {
    html,
    body {
        font-size: 68.75%;
    }
}

main {
    display: unset;
}
