.text-10 {
    font-size: 0.625rem;
}

.text-12 {
    font-size: 0.75rem;
}

.text-14 {
    font-size: 0.875rem;
}

.text-16 {
    font-size: 1rem;
}

.text-18 {
    font-size: 1.125rem;
}

.text-24 {
    font-size: 1.5rem;
}

.text-28 {
    font-size: 1.75rem;
}

.text-48 {
    font-size: 3rem;
}
