.text-10 {
    font-size: 0.625rem;
    line-height: 12px;
}

.text-12 {
    font-size: 0.75rem;
    line-height: 16px;
}

.text-14 {
    font-size: 0.875rem;
    line-height: 20px;
}

.text-16 {
    font-size: 1rem;
    line-height: 24px;
}

.text-18 {
    font-size: 1.125rem;
    line-height: 28px;
}

.text-24 {
    font-size: 1.5rem;
    line-height: 32px;
}

.text-28 {
    font-size: 1.75rem;
    line-height: 40px;
}

.text-48 {
    font-size: 3rem;
    line-height: 56px;
}
