<div class="container">
    <div class="main-content">
        <div class="card-header">
            <span class="title">Acesso restrito!</span>
            <span class="subtitle"
                >Sentimos muito, mas a função do WhatsApp é exclusiva para clientes premium! Para liberar o acesso, insira nos campos abaixo
                os dados solicitados.</span
            >
            <img class="margin-y-3" [src]="CHAT_LAYOUT_IMAGE_DIR" alt="" />
        </div>
        <div class="card-body">
            <div class="field">
                <span class="text text--bold"> Número do Whatsapp </span>
                <ps-input
                    [(ngModel)]="phoneNumber"
                    mask="(00) 00000-0000"
                    placeholder="Digite aqui o número do Whatsapp com DDD"
                ></ps-input>
            </div>
            <div class="field">
                <span class="text text--bold"> Nome a exibir </span>
                <ps-input type="text" [(ngModel)]="businessName" placeholder="Digite aqui o nome da empresa"></ps-input>
            </div>

            <div class="field">
                <span class="text text--bold"> Descrição </span>
                <ps-input type="text" [(ngModel)]="description" placeholder="Faça uma breve descrição da empresa"></ps-input>
            </div>
        </div>
        <div class="card-footer">
            <ps-button *ngIf="true" [loading]="upgradeButtonLoading" [wide]="true" (onClick)="upgrade()" type="secondary">
                <span class="text--100 text--bold">Fazer upgrade</span>
            </ps-button>
        </div>
    </div>
</div>
