<div class="container">
    <div class="header desktop">
        <h6 class="text--primary text--bold text-20 margin-y-3">Chaves de Acesso</h6>
    </div>
    <div class="separator"></div>
    <div class="title">
        <div class="flex align-center clickable padding-top-3 padding-bottom-2" (click)="openInfoModal()">
            <h6 class="text-18 text--bold">Cadastre suas chaves &nbsp;</h6>
            <ps-icon icon="icon-info secondary" class="font-16 secondary"></ps-icon>
        </div>
        <span class="text-16 desktop"
            >Insira nos campos abaixo suas chaves Secret, Key e a URL do seu E-commerce na plataforma WooCommerce</span
        >
    </div>

    <div class="body">
        <div class="field" *ngIf="getIsShopify() || getIsTray() || getIsYampi() || getIsDooca()">
            <p class="text-14">{{ adminVariables.label }}</p>
            <div class="flex-center flex">
                <ps-input
                    icon="{{ key.adminVisible ? 'icon-visibility_off-1' : 'icon-visibility' }}"
                    [placeholder]="adminVariables.placeholder"
                    type="{{ key.adminVisible ? 'text' : 'password' }}"
                    [(ngModel)]="key.admin"
                    [iconClick]="true"
                    (onIconClicked)="key.adminVisible = !key.adminVisible"
                ></ps-input>
                <ps-icon (click)="copyToClipboard('admin')" icon="icon-copy" class="text--primary font-16 clickable"></ps-icon>
            </div>
        </div>
        <div class="field" *ngIf="!getIsTray() && !getIsDooca()">
            <p class="text-14">Secret</p>
            <div class="flex-center flex">
                <ps-input
                    icon="{{ key.keyVisible ? 'icon-visibility_off-1' : 'icon-visibility' }}"
                    placeholder="Insira aqui a sua Secret"
                    type="{{ key.keyVisible ? 'text' : 'password' }}"
                    [(ngModel)]="key.secret"
                    [iconClick]="true"
                    (onIconClicked)="key.keyVisible = !key.keyVisible"
                ></ps-input>
                <ps-icon (click)="copyToClipboard('secret')" icon="icon-copy" class="text--primary font-16 clickable"></ps-icon>
            </div>
        </div>
        <div class="field" *ngIf="!getIsTray() && !getIsDooca()">
            <p class="text-14">Key</p>
            <div class="flex-center flex">
                <ps-input
                    placeholder="Insira aqui a sua Key"
                    type="{{ key.secretVisible ? 'text' : 'password' }}"
                    icon="{{ key.secretVisible ? 'icon-visibility_off-1' : 'icon-visibility' }}"
                    (onIconClicked)="key.secretVisible = !key.secretVisible"
                    [iconClick]="true"
                    type="password"
                    [(ngModel)]="key.key"
                ></ps-input>
                <ps-icon (click)="copyToClipboard('key')" icon="icon-copy" class="text--primary font-16 clickable"></ps-icon>
            </div>
        </div>
        <div class="field" *ngIf="!getIsNuvemshop() && !getIsYampi() && !getIsDooca()">
            <p class="text-14">Url do seu E-commerce</p>
            <div class="flex-center flex">
                <ps-input placeholder="Insira aqui a URL do seu E-commerce" type="url" [(ngModel)]="key.url"></ps-input>
                <ps-icon (click)="copyToClipboard('url')" icon="icon-copy" class="text--primary font-16 clickable"></ps-icon>
            </div>
        </div>

        <div class="field margin-top-2" *ngIf="!getIsTray()">
            <ps-checkbox [(active)]="sendWebhook">
                <span class="text-16">Configurar webhooks</span>
            </ps-checkbox>
        </div>
    </div>

    <div class="footer">
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary" [disabled]="getSaveDisabled()">
            <span class="text--100 text--bold">Salvar</span>
        </ps-button>
    </div>

    <router-outlet></router-outlet>
</div>
