@import 'src/styles.scss';

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__content {
        flex-grow: 1;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: calc(100vw - 87vh);
        min-width: 350px;
        background-color: var(--neutral-100);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-content {
            display: flex;
            width: 100%;
            justify-content: flex-start;
        }
        .logo {
            height: 20px;
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 500px;
            max-width: calc(100vh - 64px);
            flex-grow: 1;
            align-items: center;
            transform: translateX();
            transition-duration: 500ms;

            .field {
                padding: 0.5rem 0;
                width: 100%;
                span {
                    line-height: 2rem;
                }
            }
        }

        .forgot-password {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            padding: 1rem 0;
        }

        .button-content {
            padding-top: 2rem;
            width: 100%;
            ps-button {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .login {
        &__content {
            width: 100vw;
            .form {
                width: calc(100vw - 64px);
            }
        }
    }

    app-carrossel {
        display: none;
    }
}

@media only screen and (max-width: 756px) {
    .login {
        &__content {
            align-items: center;

            .logo-content {
                align-items: center;
                justify-content: center;
            }
        }
    }

    .text-center-mobile {
        text-align: center;
    }
}
