<div class="reset-password">
    <div class="reset-password__content">
        <div class="logo-content">
            <img class="logo" src="./assets/imgs/logo.png" alt="" />
        </div>
        <form (keydown.enter)="resetPassword()" class="form" id="resetPasswordForm" [ngClass]="{ hidden: sent }">
            <h4 class="text--primary">Criar nova senha</h4>
            <span class="text text--800 margin-bottom-3">Você receberá um link por e-mail para redefinir a sua senha</span>

            <div class="field">
                <span class="text text--bold text--800" [ngClass]="{ 'text--negative': emailField.errors.length > 0 }">E-mail</span>
                <ps-input
                    placeholder="Digite seu e-mail"
                    [(ngModel)]="emailField.model"
                    [icon]="emailField.icon"
                    [errors]="emailField.errors"
                    (onFocus)="emailField.errors = []"
                    type="email"
                ></ps-input>
            </div>

            <div class="button-content">
                <ps-button (onClick)="resetPassword()" [loading]="loading" [wide]="true" type="secondary"
                    ><span class="text text--100">Acessar</span></ps-button
                >
            </div>

            <div class="new-customer">
                <p class="text-800">
                    Já é um cliente Zoppy?&nbsp;<a [routerLink]="'/login'" class="text--link text--primary text--bold">Acesse sua conta</a>
                </p>
            </div>
        </form>

        <div class="form" *ngIf="sent">
            <div class="flex-center">
                <div class="icon-content">
                    <ps-icon icon="icon-check" class="text--100"></ps-icon>
                </div>
                <h4 class="text--primary">E-mail enviado!</h4>
            </div>
            <span class="text text--800 text--center margin-bottom-3 margin-top-2"
                >Verifique sua caixa de entrada. Se você não recebeu o e-mail, confira sua caixa de spam ou indesejados.</span
            >
            <div class="button-content">
                <ps-button (onClick)="goBack()" [loading]="loading" [wide]="true" type="secondary"
                    ><span class="text text--100">Voltar para tela inicial</span></ps-button
                >
            </div>
        </div>
    </div>
    <app-carrossel></app-carrossel>
</div>
