@import 'src/styles.scss';

:host {
    flex-grow: 1;
    min-height: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        min-height: 112px;
        max-height: 112px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--neutral-300);
        padding: 16px 32px;

        .button-go-back {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid var(--neutral-300);
            cursor: pointer;
            background-color: #fafbff;
            padding: 18px;

            ps-icon {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .empty-list {
        flex-grow: 1;
        padding: 0px 42px;
        min-height: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 123.64px;
            height: 114.62px;
        }

        span {
            text-align: center;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    .contacts {
        flex-wrap: nowrap;
        flex-grow: 1;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-height: fit-content;
        overflow: auto;
        overflow-y: auto;

        .item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid var(--neutral-300);
            cursor: pointer;
            padding: 24px;

            .item-header {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: flex-start;
                margin-bottom: 1rem;
                padding: 0px 40px;
            }

            .item-content {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: flex-start;
                padding: 0px 40px;
                font-weight: 700;
                color: #363636;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        margin: 1rem;
    }
}
