@import 'src/styles.scss';

:host {
    width: 100%;
    height: 100%;
}

img {
    height: 48px;
}

.chart-container {
    padding: 0.75rem 1rem;
    width: 440px;
    height: 100%;
    max-width: 100%;

    .data {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .item {
        flex-grow: 1;
        padding: 0.25rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .separator {
            height: 1px;
            flex-grow: 1;
            background-color: var(--primary-100);
            margin: 0 0.75rem;
        }

        .percentage {
            padding: 0.5rem;
            background-color: var(--secondary);
            border-radius: 1rem;
            margin-left: 0.5rem;
        }
    }
}

@media only screen and (max-width: 576px) {
    .chart-container {
        .item {
            justify-content: space-between;
        }
    }
}
