<div class="container" *ngIf="loaded">
    <div class="header padding-3">
        <h5 class="text--primary text--bold">Minha empresa</h5>
    </div>

    <div class="title margin-top-3 wide">
        <div class="left">
            <h6 class="text text--bold">Usuários</h6>
            <span *ngIf="id" class="text">Atualize as informações desse usuário</span>
            <span *ngIf="!id" class="text">Insira as informações do usuário usuário</span>
        </div>
        <a class="right flex" href="/dashboard/my-company/users">
            <ps-icon icon="icon-chevron text--primary"></ps-icon> &nbsp;
            <span class="text text--small text--bold text--primary">Voltar</span>
        </a>
    </div>

    <div class="body">
        <div class="field">
            <span class="text text--bold margin-bottom-1"> Nome*</span>
            <ps-input type="text" placeholder="Digite o nome" [(ngModel)]="user.name"></ps-input>
        </div>
        <div class="field">
            <span class="text text--bold margin-bottom-2"> Telefone* </span>
            <ps-input mask="(00) 00000-0000" type="text" placeholder="Digite o telefone" [(ngModel)]="user.phone"></ps-input>
        </div>
        <div class="field">
            <span class="text text--bold margin-bottom-2"> Email* </span>
            <ps-input type="text" placeholder="Digite o email" [(ngModel)]="user.email"></ps-input>
        </div>
        <div class="field">
            <span class="text text--bold margin-bottom-2"> Data de nascimento </span>
            <ps-datepicker placeholder="DD/MM/YYYY" [(model)]="user.birthDate" [hasFooter]="false" type="input"></ps-datepicker>
        </div>
        <div class="field" *ngIf="!id">
            <span class="text text--bold margin-bottom-2"> Senha* </span>
            <ps-input type="password" placeholder="Digite a senha do usuário" [(ngModel)]="user.password"></ps-input>
        </div>
        <div class="field" *ngIf="!id">
            <span class="text text--bold margin-bottom-2"> Confirmar Senha* </span>
            <ps-input type="password" placeholder="Confirme a senha do usuário" [(ngModel)]="confirmPassword"></ps-input>
        </div>
    </div>
    <div class="footer">
        <ps-button [loading]="loading" [wide]="true" (onClick)="save()" type="secondary" [disabled]="getSaveDisabled()">
            <span class="text--100 text--bold">Salvar</span>
        </ps-button>
    </div>
</div>
