<div class="container">
    <div class="header desktop">
        <h6 class="text--primary text--bold text-20 margin-y-3">Tokens de Acesso</h6>
    </div>
    <div class="separator"></div>
    <div class="title">
        <div class="flex align-center clickable padding-top-3 padding-bottom-2" (click)="openInfoModal()">
            <h6 class="text-18 text--bold">Gerador de token</h6>
            &nbsp;
            <ps-icon icon="icon-info secondary" class="font-16 secondary"></ps-icon>
        </div>
        <span class="text-16"
            >Você pode gerar o token de acesso para inserir no WooCommerce, esse token pode ser usado na integração dos webhooks.</span
        >
    </div>

    <div class="body">
        <div class="field">
            <p class="text-14">Token</p>
            <ps-input [disabled]="true" [(ngModel)]="token.hash"></ps-input>
            <ps-icon (click)="copyToClipboard()" icon="icon-copy" class="text--primary font-16 clickable"></ps-icon>
        </div>
        <div class="buttons">
            <ps-button [loading]="loading" *ngIf="token.id" [wide]="true" (onClick)="deleteToken()" type="cancel">
                <span class="text--800 text--bold text-14">Deletar Token</span>
            </ps-button>
            <ps-button [loading]="loading" [wide]="true" (onClick)="generateToken()" type="secondary" *ngIf="!token.id">
                <span class="text--100 text--bold text-14">Gerar token</span>
            </ps-button>
        </div>
    </div>
</div>
