<div class="container">
    <div class="header">
        <h5 class="text--primary text--bold">Tokens de Acesso</h5>
    </div>
    <div class="title">
        <h6 class="text text--bold">Gerador de token</h6>
        <span class="text"
            >Você pode gerar o token de acesso para inserir no WooCommerce, esse token pode ser usado na integração dos webhooks.</span
        >
    </div>

    <div class="body">
        <div class="field">
            <p class="text text--bold">Token</p>
            <ps-input [disabled]="true" [(ngModel)]="token.hash"></ps-input>
            <ps-icon (click)="copyToClipboard()" icon="icon-copy" class="text--primary clickable"></ps-icon>
        </div>
        <div class="buttons">
            <ps-button [loading]="loading" *ngIf="token.id" [wide]="true" (onClick)="deleteToken()" type="cancel">
                <span class="text--800">Deletar Token</span>
            </ps-button>
            <ps-button [loading]="loading" [wide]="true" (onClick)="generateToken()" type="secondary" *ngIf="!token.id">
                <span class="text--100">Gerar token</span>
            </ps-button>
        </div>
    </div>
</div>
